$cms-primary-color:         #464B53;
$cms-secondary-color:       #333841;
$cms-tertiary-color:        #2A2F34;

$cms-text-color:            #A6ACA9;
$cms-text-alt-color:        #FFFFFF;
$cms-highlight-color:       #50565E;
