# Include initial images used by the sample project
!Cofoundry.Dev.Sandbox/App_Data/Files/Images/1.jpg
!Cofoundry.Dev.Sandbox/App_Data/Files/Images/2.jpg
!Cofoundry.Dev.Sandbox/App_Data/Files/Images/3.jpg
!Cofoundry.Dev.Sandbox/App_Data/Files/Images/4.jpg
!Cofoundry.Dev.Sandbox/App_Data/Files/Images/5.jpg