@{
    var title = "A Custom Access Denied Page";
    ViewBag.Title = title;
}

<div class="container">
    <div class="row content-block">
        <div class="col-sm-12">
            <h1>@title</h1>
        </div>
    </div>

    <div class="row content-block">
        <div class="col-sm-12">
            <p>
                Sorry, you don't have permission to view this page
            </p>
        </div>
    </div>
</div>
