@model NewUserWelcomeMailTemplate
@inject ICofoundryMailTemplateHelper Cofoundry
@*
    Template view files can be placed in your website views directory, but this example
    demonstrates how you can keep them organized in your domain layer.

    To use these embedded view files you need to give them a build action of 'Embedded Resource' in
    the properties panel and include a class that implements IAssemblyResourceRegistration in this
    assembly.

    More info here: https://www.cofoundry.org/docs/framework/mail

    For a simpler (non-embedded resource) example see https://github.com/cofoundry-cms/Cofoundry.Samples.SimpleSite
*@

@{
    Layout = null;
}

<h2>Hi @Model.FirstName</h2>

<p>
    Thanks for registering with SPA Cats!
</p>
<p>
    Login <a href="@Cofoundry.Routing.ToAbsolute("/")">here</a>
</p>

<p>
    Thanks,<br />
    SPA Cats
</p>