@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row justify-content-center">
    <div class="col col-8">
        <h1 class="mb-4">Forgotten your password?</h1>

        @if (Model.IsSuccess)
        {
            <p>Instructions on how to reset your password have been sent to your email address.</p>

            <div class="actions">
                <p id="forgotPasswordLink">
                    <a asp-page="SignIn">Click here to sign in</a>
                </p>
            </div>
        }
        else
        {
            <form method="post">
                <p>Complete the form below to request a password reset.</p>


                <div class="mb-3">
                    <label asp-for="Email" class="form-label"></label>
                    <input asp-for="Email" class="form-control">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div asp-validation-summary="ModelOnly" class="mb-3 text-danger"></div>

                <button type="submit" class="btn btn-primary">Reset password</button>
            </form>
        }
    </div>
</div>