@page
@model PasswordChangeRequiredModel
@{
    ViewData["Title"] = "Change password";
}

<div class="row justify-content-center">
    <div class="col col-8">
        <h1 class="mb-4">Change Password</h1>

        @if (Model.IsSuccess)
        {
            <p class="alert alert-success">Your password has been updated.</p>

            <p>
                <a asp-page="SignIn" asp-route-returnUrl="@Model.ReturnUrl">Click here to sign in</a>
            </p>
        }
        else
        {
            <form method="post">

                <p class="alert alert-warning">
                    You must change your password before accessing the member area.
                </p>

                <div class="mb-3">
                    <label asp-for="Email" class="form-label"></label>
                    <input asp-for="Email" class="form-control">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="OldPassword" class="form-label"></label>
                    <input asp-for="OldPassword" class="form-control">
                    <span asp-validation-for="OldPassword" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="NewPassword" class="form-label"></label>
                    <input asp-for="NewPassword" class="form-control">
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="ConfirmNewPassword"></label>
                    <input asp-for="ConfirmNewPassword" class="form-control">
                    <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
                </div>

                <div asp-validation-summary="ModelOnly" class="mb-3 text-danger"></div>

                <button type="submit" class="btn btn-primary">Submit</button>

            </form>
        }
    </div>
</div>