@page
@model SignOutModel
@{
    ViewData["Title"] = "Signed out";
}

<div class="text-center">
    <h1 class="mb-4">Signed Out</h1>
    <p>You're now signed out.</p>
    <p><a asp-page="/Index">Continue to homepage</a></p>
</div>