@inherits System.Web.Mvc.WebViewPage<Exception>
@using Cofoundry.Web
@using System.Web.Mvc
@using System.Web.Mvc.Html

<h1>Server error</h1>

<h2>@Model.GetBaseException().Message</h2>

<p>An unhandled exception occurred during the execution of the current web request. Please review the stack trace for more information about the error and where it originated in the code.</p>

<dl>
    <dt>Target site</dt>
        <dd>@Model.GetBaseException().TargetSite</dd>
    <dt>Source</dt>
        <dd>@Model.GetBaseException().Source</dd>
    <dt>Stack trace</dt>
        <dd>
            @Html.Raw(Model.GetBaseException().StackTrace.Split(new string[] { "\r\n", "\n" }, StringSplitOptions.None).Aggregate((a, b) => a + "<br/>" + b))
        </dd>
</dl>