@import "sassutils/functions";
@import "sassutils/mixins";
@import "sassutils/vendor";

// // Block styles
@import "blocks/preview-menu";
@import "blocks/mini-menu";
@import "blocks/versions";
@import "blocks/navmenu";
@import "blocks/tabs";

// Element styles
@import "elements/page-details";
@import "elements/mode";
@import "elements/options";
@import "elements/settings";
@import "elements/edit-mode";
@import "elements/info-list";

html, body {
    height: 100%;
    overflow:hidden;
}

body {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}

#statusBar {
    background: #eaeaea;
}

#wrapper {
    height: 100%;
    min-width: 240px;
    position: relative;
    width: auto;
}

    #wrapper.device {
        overflow: scroll;
        overflow-x: hidden;
        overflow-y: scroll;
    }

#siteFrameContainer {
    height: 100%;
    width: 100%;
    padding-bottom: 70px;

    .cofoundry-sv__module-highlight {
        outline:1px dotted red;
	    position:absolute;
	    z-index:1;
	    pointer-events:none;
	    background:rgba(0,0,0,.2);
    }

    .cofoundry-sv__module-controls {
        position:absolute;
	    background:red;
	    z-index:2;
	    height:30px;
    }
}

#wrapper.full-height #siteFrameContainer {
    padding-bottom: 0px;
}

#wrapper.device #siteFrameContainer {
    margin: 2% auto 2% auto;
    height: 10%;
    width: 10%;
    -webkit-transform: scale(.75);
    -webkit-transform-origin: 50% 0;
    -moz-transform: scale(.75);
    -moz-transform-origin: 50% 0;
    -ms-transform: scale(.75);
    -ms-transform-origin: 50% 0;
    -o-transform: scale(.75);
    -o-transform-origin: 50% 0;
    transform: scale(.75);
    transform-origin: 50% 0;
    -webkit-transition: all 240ms ease;
    -moz-transition: all 240ms ease;
    -ms-transition: all 240ms ease;
    -o-transition: all 240ms ease;
    transition: all 240ms ease;
}

#wrapper.iPhonePortrait #siteFrameContainer {
    width: 320px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #eaeaea;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
}

#wrapper.iPadPortrait #siteFrameContainer {
    width: 768px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #eaeaea;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
}

#wrapper.iPadLandscape #siteFrameContainer {
    width: 1024px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #eaeaea;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
}

#wrapper.desktop #siteFrameContainer {
    width: 1024px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #eaeaea;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
}



/* #### Site frame #### */
iframe#siteFrame {
    background: transparent;
    border: 0;
    height: 100%;
    width: 100%;
}

#wrapper.device iframe#siteFrame::-webkit-scrollbar {
    display: none;
}

#wrapper.device iframe#siteFrame html {
    overflow-x: hidden;
}

#wrapper.device iframe#siteFrame html::-webkit-scrollbar {
    display: none;
}



/* #### Device menu #### */
ul#deviceMenu {
    bottom: 0;
    left: 0;
    margin: 0;
    overflow: auto;
    padding: 0;
    position: fixed;
}

ul#deviceMenu li {
    border-right: 1px solid #970D31;
    display: block;
    float: left;
    list-style: none;
}

ul#deviceMenu li a {
    background: $color-primary url(img/icons.png) no-repeat;
    display: block;
    height: 30px;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    width: 30px;
}

ul#deviceMenu li.active, ul#deviceMenu li:hover {
    background-color: #8e8d8d;
    -webkit-box-shadow: inset 0 0 3px 1px rgba(0, 0, 0, .7);
    -moz-box-shadow: inset 0 0 3px 1px rgba(0, 0, 0, .7);
    box-shadow: inset 0 0 3px 1px rgba(0, 0, 0, .7);
    background: #8e8d8d;
    background: -moz-linear-gradient(top, #8e8d8d 0%, #4d4c4c 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8e8d8d), color-stop(100%,#4d4c4c));
    background: -webkit-linear-gradient(top, #8e8d8d 0%,#4d4c4c 100%);
    background: -o-linear-gradient(top, #8e8d8d 0%,#4d4c4c 100%);
    background: -ms-linear-gradient(top, #8e8d8d 0%,#4d4c4c 100%);
    background: linear-gradient(to bottom, #8e8d8d 0%,#4d4c4c 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8e8d8d', endColorstr='#4d4c4c',GradientType=0 );
}

    ul#deviceMenu li.active a, ul#deviceMenu li a:hover {
        background-color: transparent;
    }

ul#deviceMenu li.auto a {
    background-position: -5px -725px;
}

ul#deviceMenu li.iPhonePortrait a {
    background-position: -5px -565px;
}

ul#deviceMenu li.iPhoneLandscape a {
    background-position: -5px -605px;
}

ul#deviceMenu li.iPadPortrait a {
    background-position: -5px -645px;
}

ul#deviceMenu li.iPadLandscape a {
    background-position: -5px -685px;
}


/* #### Hovering #### */
.cofoundry-sv__section-popover-container, .cofoundry-sv__module-popover-container {
    font-family:$fontstack-default;
    font-size:85%;
    position: absolute;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}


/* #### Section hovering #### */
.cofoundry-sv__section-popover-container {
}

.cofoundry-sv__section-popover-inner {
    @include border-radius(2px);
    background: #fff;
    border: 1px solid $color-darkgrey;
    border-left:3px solid $color-primary;
    color: $color-darkgrey;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    padding: 0 10px;
    position: relative;
    text-transform: uppercase;
    white-space: nowrap;
}

.cofoundry-sv__section-popover-inner h2 {
    font-weight: bold;
    float: left;
    font-size: 90%;
    font-style: normal;
    height: 30px;
    line-height: 27px;
    margin: 0;
}

.cofoundry-sv__section-popover-inner a {
    float: right;
    color: $color-darkgrey;
    overflow: hidden;
    white-space: nowrap;
    width: 19px;
    margin-left:10px;
    position:relative;
    text-align:center;

    &:hover {
        color:$color-primary;
    }
}



/* #### Module hovering #### */
.cofoundry-sv__module-popover-container {
    position: fixed;
}

.cofoundry-sv__module-popover-container ul {
    @include border-radius(2px);
    border: 1px solid $color-darkgrey;
    border-top:3px solid $color-primary;
    background:#fff;
    display: block;
    margin: 0px;
    padding: 0px;
}

.cofoundry-sv__module-popover-container li:not(:last-of-type) {
    border: 1px solid $color-lightgrey;
    border-width: 0 0 1px 0;
    display: block;
}

.cofoundry-sv__module-popover-container li a {
    @include transition(all .3s);
    background-position: center center;
    display: block;
    height: 32px;
    color: $color-darkgrey;
    width: 34px;
    padding-top:7px;
    text-align:center;
    font-size:1.1em;

    &:hover {
        color:$color-primary;
    }
}

.cofoundry-sv__module-popover-container .disabled a {
    cursor: default;
    opacity: 0.4;
    -khtml-opacity: 0.4;
    -moz-opacity: 0.4;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    filter: alpha(opacity=40);
}

/* #### Footer #### */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}