<!--HEADER-->
<cms-page-header cms-title="Roles &amp; Permission"></cms-page-header>

<cms-page-sub-header>
    <cms-page-header-buttons>
        <a class="btn-icon" cms-text="Filter"
           ng-click="vm.toggleFilter()">
            <i class="fa fa-search"></i>
        </a>

        <!--FILTER-->
        <cms-search-filter cms-query="vm.query"
                           cms-filter="vm.filter"
                           ng-show="vm.isFilterVisible">

            <cms-form-field-text cms-title="Text"
                                 cms-model="vm.filter.text"></cms-form-field-text>

        </cms-search-filter>
    </cms-page-header-buttons>
</cms-page-sub-header>

<!-- Default toolbar -->
<cms-page-actions>

    <cms-button-link class="main-cta"
                     cms-text="Create"
                     cms-icon="plus"
                     cms-href="#/new"
                     ng-if="::vm.canCreate"></cms-button-link>

    <cms-pager cms-result="vm.result"
               cms-query="vm.query"></cms-pager>

</cms-page-actions>

<!-- Scrollable content area -->
<cms-page-body cms-content-type="form">

    <cms-table-container cms-loading="vm.gridLoadState.isLoading">
        <table>
            <thead>
                <tr>
                    <th>User Area</th>
                    <th>Title</th>
                    <th cms-table-column-actions>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-if="!vm.result.items.length">
                    <td colspan="100" class="empty">Sorry, no roles could be found.</td>
                </tr>
                <tr ng-repeat="role in vm.result.items">
                    <td>{{::role.userArea.name}}</td>
                    <td>
                        <a href="#/{{::role.roleId}}">{{::role.title}}</a>
                    </td>
                    <td cms-table-column-actions>
                        <a href="#/{{::role.roleId}}"
                           class="btn-icon"
                           title="Edit"
                           ng-if="::vm.canUpdate">
                            <i class="fa fa-pencil-square-o"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </cms-table-container>

</cms-page-body>
