@inherits CofoundryPageModule<PlainTextDataModel>
@using Cofoundry.Web
@using Cofoundry.Core
@using System.Web.Mvc
@using System.Web.Mvc.Html

@{
    Cofoundry.Module.UseDescription("Multiple lines of simple text");
    Layout = null;
    
}

@if (Model == null)
{
    @:<!-- No text data --->
}
else
{
    <span>
        @Cofoundry.Sanitizer.Sanitize(HtmlFormatter.ConvertToBasicHtml(Model.PlainText))
    </span>
}