@inherits Cofoundry.Web.CofoundryPage
@using System.Web.Mvc.Html
@using Cofoundry.Web.Admin
@using System.Web.Optimization

@{
    Layout = LayoutPaths.DefaultLayout;    
}

@section FooterScripts {
    @AngularHelper.Bootstrap(SetupRouteLibrary.Js, Cofoundry.CurrentUser)
}

<div ng-view=""></div>


