@{
    Layout = SetupRouteLibrary.SetupLayoutPath;    
}

@section FooterScripts {
    @AngularHelper.Bootstrap(SetupRouteLibrary.Js, Cofoundry.CurrentUser)
}

<h1>Cofoundry</h1>

<div class="wrap" ng-view=""></div>