.login-container {
    width: 500px;
    height: 300px;
    margin-left: -250px;
    left: 50%;
    top: 50%;
    position: absolute;
    margin-top: -250px;

    .wrap {
        @include border-radius(3px);
        padding: 20px;
        background: #fff;
        margin-bottom: 10px;
    }

    h1 {
        // @include retina-sprite(logo-full);
        background-image: url("img/icons/retina/logo-full.png");
        background-size: 250px auto;
        background-repeat: no-repeat;
        display: inline-block;
        vertical-align: middle;
        height: 58px;
        width: 250px;

        margin-bottom: 20px;
        text-indent: -2000px;
        overflow: hidden;
    }

    .control-group {
        position: relative;
        margin-bottom: 10px;
    }

    label {
        font-weight: $fontweight-bold;
        text-transform: uppercase;
        font-size: 100%;
        padding: 10px 0;
        display: block;
    }

    .login-alt-cta {
        position: absolute;
        right: 0;
        top: 10px;
    }

    .checkbox {
        float: left;
    }

    .actions {
        margin-top: 15px;
        float: right;

        .btn {
            width: 100%;
        }
    }

    .field-validation-error {
        @include border-radius(2px);
        padding: 5px;
        border: 1px solid $color-warning;
        background-color: #ffcc99;
        width: 100%;
        margin-top: 5px;
        display: block;
    }
}