.setup-container {
    width: 500px;
    position: relative;
    margin: 30px auto;

    .wrap {
        @include border-radius(3px);
        padding: 20px;
        background: #fff;
    }

    h1 {
        // @include retina-sprite(logo-full);`
        background-image: url("img/icons/retina/logo-full.png");
        background-size: 250px auto;
        background-repeat: no-repeat;
        display: inline-block;
        vertical-align: middle;
        height: 58px;
        width: 250px;

        margin-bottom: 20px;
        text-indent:-2000px;
        overflow:hidden;
    }

    p {
        padding:0 20px 40px;
        line-height: 15px;
    }

    label {
        font-weight:$fontweight-bold;
        text-transform:uppercase;
        font-size:100%;
        padding:10px 0;
        display:block;
    }

    .actions {
        padding: 40px 20px 0;

        .btn {
            width:100%;
        }
    }

    .field-validation-error {
        @include border-radius(2px);
        padding:5px;
        border:1px solid $color-warning;
        background-color:#ffcc99;
        width:100%;
        margin-top:5px;
        display:block;
    }
}