%msg {
    @include border-radius(2px);
    border-left:3px solid $color-midgrey;
    background-color:#fff;
    margin-bottom:20px;
    padding:10px;
}

.form-message {
    &.success {
        @extend %msg;
        border-color:$color-success!important;
    }
    &.error {
        @extend %msg;
        border-color:$color-error!important;
    }
}

.form-section-actions {
    position:absolute;
    right:20px;
    top:15px;
    z-index: 10;

    .btn {
        padding: 6px 10px;
        font-size: 75%;
    }
}

.form-section-message {
    display: block;
    position: relative;
    z-index: 99;
    padding: 0 20px 20px;
}