:host {
    transition: left .3s, padding .3s;
    position:fixed;
    z-index: 99998;
    width:100%;
    background-color:#fff;
    padding:10px 30px;
    font-size:180%;
    //font-weight:$fontweight-light;
    line-height: 50px;
    top:0;
    //left:$nav-width-slim;
    border-bottom:1px solid #ccc;

    @media screen and (min-width: 950px) {
        //left:$nav-width;
        padding:10px 25px;
    }

    a {
        color:#000;
        text-decoration: none;

        &:hover {
            //color:$color-secondary;
            text-decoration:underline;
        }
    }
}
