@model UsersModuleOptions

@{
    Layout = LayoutPaths.DefaultLayout;    
}

@section FooterScripts {
    @AngularHelper.Bootstrap(UsersRouteLibrary.Js, Cofoundry.CurrentUser, Model)
}

<div ng-view=""></div>


