@model UsersModuleOptions
@using Cofoundry.Web.Admin
@inject IAngularBootstrapper angularBootstrapper
@inject IAdminRouteLibrary adminRouteLibrary

@{
    Layout = LayoutPaths.DefaultLayout;
    ViewBag.Title = Model.Name;
}

@section FooterScripts {
    @await angularBootstrapper.BootstrapAsync(adminRouteLibrary.Users, Model)
}

<div ng-view=""></div>


