/*!
* This is used to style the siteviewer
*/

/* #### Use a minimum height for sections so that they can be hovered over when there are no modules in them #### */
.cms-section, .cms-module-empty {
    min-height: 30px;
}
/* for Internet Explorer */
/*\*/
* html .cms-section {
    height: 30px;
}

/* Editable Section/Module Hover */
.cms-hover-module { box-shadow: 0px 0px 10px #0892d0!important; }
.cms-hover-module.mask { box-shadow: 0px 0px 3000px 3000px rgba(0,0,0,.5)!important; }

.cms-hover-section { outline: 1px dotted #4d4d4d; }

/* Used when the html for a section is being replaced */
.cms-section-loading {
    opacity: 0.5;
}