/*===============================
	Required compass includes
=================================*/
/* line 5, ../../../../../../../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*
    THIRD PARTY
    Next we import any 3rd Party libraries we need (CSS or SASS)
*/
/*
    LIBRARIES
    Now we include any libraries/utilities we have written
*/
/**
 * A mixin to create retina sprites with hover & active states
 *
 * You have to register a pair of sprites using `{@link #retina-sprite-add}` and then you can use this mixin:
 *
 *     @include retina-sprite-add(icons, "icons/*.png", "icons-retina/*.png");
 *
 *     .my-icon {
 *       @include retina-sprite(icon-name, icons);
 *     }
 *
 * @param {String} $name
 * @param {String} [$sprites-name]
 * @param {Boolean} [$hover=false]
 * @param {Boolean} [$active=false]
 */
/**
 * @param {String} $name
 * @param {String} $path
 * @param {String} $path2x
 */
/*
    CONFIG
    Here we include any config we want to use, such as colour and dimension maps. 
*/
/*
    COMMON BASE
    Next we import any common base styles, which are reused by UI components. 
    These common styles get extended 
*/
/* line 1, ../../../Shared/Sass/Common/_heading.scss */
.heading-primary, .heading-secondary, .heading-tertiary {
  text-transform: uppercase;
  font-weight: bold;
}

/* line 6, ../../../Shared/Sass/Common/_heading.scss */
.heading-primary {
  font-size: 36px;
  font-size: 3rem;
}

/* line 11, ../../../Shared/Sass/Common/_heading.scss */
.heading-secondary {
  font-size: 24px;
  font-size: 2rem;
}

/* line 16, ../../../Shared/Sass/Common/_heading.scss */
.heading-tertiary {
  font-size: 18px;
  font-size: 1.5rem;
}

/* line 1, ../../../Shared/Sass/Common/_link.scss */
.inline-link {
  color: red;
}

/*
    COMPONENTS
    We import component styles from wherever they may be living. These should be kept as modular as possible, extending from common base styles where needed.
*/
/* No files to import found in ../Js/UIComponents/**\/* */
/* See https://gist.github.com/taupecat/4090271 */
/* Cross browser Opacity */
/* Non-inheriting cross browser opacity with white bg color */
/* line 1, ../../Sass/blocks/_preview-menu.scss */
.cofoundry-sv {
  font-family: "Open Sans", sans-serif;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 70px;
  background-color: #3c3c3c;
  transform: translateY(100%);
  z-index: 1000;
}
/* line 12, ../../Sass/blocks/_preview-menu.scss */
.cofoundry-sv.active {
  transform: translateY(0);
}

/* line 17, ../../Sass/blocks/_preview-menu.scss */
.cofoundry-sv__toggle {
  position: absolute;
  left: 0;
  top: 0;
  transform: translateY(-100%);
  background-color: #4d4d4d;
  border: 0;
  border-radius: 0 3px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  padding: 10px 25px;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 700;
  color: #FFFFFF;
  cursor: pointer;
}

/* line 36, ../../Sass/blocks/_preview-menu.scss */
.cofoundry-sv__back {
  display: block;
  height: 100%;
  width: 40px;
  float: left;
  text-decoration: none;
  color: #A6ACA9;
  text-align: center;
}
/* line 45, ../../Sass/blocks/_preview-menu.scss */
.cofoundry-sv__back span {
  position: absolute;
  font-size: 0.8em;
  top: 50%;
  margin-top: -6px;
  left: 15px;
}
/* line 52, ../../Sass/blocks/_preview-menu.scss */
.cofoundry-sv__back:hover {
  background-color: #3366cc;
  color: #fff;
}

/* line 1, ../../Sass/blocks/_mini-menu.scss */
.cofoundry-sv__mini-menu {
  width: 90px;
  height: 100%;
  position: relative;
  float: left;
  margin: 0;
}
/* line 9, ../../Sass/blocks/_mini-menu.scss */
.cofoundry-sv__mini-menu:hover .cofoundry-sv__mini-menu__content {
  display: block;
}
/* line 13, ../../Sass/blocks/_mini-menu.scss */
.cofoundry-sv__mini-menu:hover .cofoundry-sv__mini-menu__toggle {
  background-color: #2c2c2c;
  color: #fff;
}

/* line 20, ../../Sass/blocks/_mini-menu.scss */
.cofoundry-sv__mini-menu--flow {
  width: 100%;
}

/* line 24, ../../Sass/blocks/_mini-menu.scss */
.cofoundry-sv__mini-menu__content {
  -moz-transform: translate(0%, -100%);
  -ms-transform: translate(0%, -100%);
  -webkit-transform: translate(0%, -100%);
  transform: translate(0%, -100%);
  display: none;
  background-color: #2c2c2c;
  position: absolute;
  top: 0;
  width: 320px;
  padding: 15px 15px 30px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
/* line 35, ../../Sass/blocks/_mini-menu.scss */
.cofoundry-sv__mini-menu--large .cofoundry-sv__mini-menu__content {
  width: 480px;
  padding: 15px 25px 30px;
}
/* line 40, ../../Sass/blocks/_mini-menu.scss */
.cofoundry-sv__mini-menu--flow .cofoundry-sv__mini-menu__content {
  width: 100%;
}
/* line 44, ../../Sass/blocks/_mini-menu.scss */
.cofoundry-sv__mini-menu--align-left .cofoundry-sv__mini-menu__content {
  border-top-left-radius: 0px;
}
/* line 48, ../../Sass/blocks/_mini-menu.scss */
.cofoundry-sv__mini-menu--align-right .cofoundry-sv__mini-menu__content {
  -moz-transform: translate(-50%, -100%);
  -ms-transform: translate(-50%, -100%);
  -webkit-transform: translate(-50%, -100%);
  transform: translate(-50%, -100%);
  left: 50%;
  border-top-right-radius: 0px;
}
/* line 54, ../../Sass/blocks/_mini-menu.scss */
.cofoundry-sv__mini-menu__content h3 {
  margin: 0 0 10px;
  color: #fff;
}

/* line 60, ../../Sass/blocks/_mini-menu.scss */
.cofoundry-sv__mini-menu__toggle {
  border: 0;
  border-left: 1px solid #4d4d4d;
  width: 100%;
  height: 100%;
  background-color: transparent;
  outline: none;
  color: #A6ACA9;
  font-size: 10px;
}
/* line 70, ../../Sass/blocks/_mini-menu.scss */
.cofoundry-sv__mini-menu__toggle.active {
  background-color: #2c2c2c;
  color: #fff;
}
/* line 75, ../../Sass/blocks/_mini-menu.scss */
.cofoundry-sv__mini-menu--flow .cofoundry-sv__mini-menu__toggle {
  text-align: left;
}

/* line 87, ../../Sass/blocks/_mini-menu.scss */
.cofoundry-sv__mini-menu.active .cofoundry-sv__mini-menu__content {
  display: block;
}
/* line 91, ../../Sass/blocks/_mini-menu.scss */
.cofoundry-sv__mini-menu.active .cofoundry-sv__mini-menu__toggle {
  background-color: #333841;
  color: #fff;
}

/* line 1, ../../Sass/blocks/_versions.scss */
.cofoundry-sv__versions {
  float: left;
  height: 100%;
}
/* line 5, ../../Sass/blocks/_versions.scss */
.cofoundry-sv__versions .cofoundry-sv__mini-menu__toggle {
  border-left: 0;
}

/* line 10, ../../Sass/blocks/_versions.scss */
.cofoundry-sv__version-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* line 16, ../../Sass/blocks/_versions.scss */
.cofoundry-sv__version-list__item {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  margin: 0;
  padding: 10px;
  display: block;
  font-size: 11px;
  cursor: pointer;
  color: #A6ACA9;
  text-decoration: none;
}
/* line 27, ../../Sass/blocks/_versions.scss */
.cofoundry-sv__version-list__item span {
  background-color: #3c3c3c;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 5px;
  display: inline-block;
}
/* line 36, ../../Sass/blocks/_versions.scss */
.cofoundry-sv__version-list__item .published {
  background-color: #339900 !important;
}
/* line 40, ../../Sass/blocks/_versions.scss */
.cofoundry-sv__version-list__item .approved {
  background-color: #ff6600 !important;
}
/* line 44, ../../Sass/blocks/_versions.scss */
.cofoundry-sv__version-list__item .draft {
  border: 1px solid #ff6600;
  background-color: transparent !important;
}
/* line 49, ../../Sass/blocks/_versions.scss */
.cofoundry-sv__version-list__item:last-of-type {
  border: 0;
}
/* line 53, ../../Sass/blocks/_versions.scss */
.cofoundry-sv__version-list__item:hover {
  background-color: #3c3c3c;
  border-color: #1a1d22;
}
/* line 57, ../../Sass/blocks/_versions.scss */
.cofoundry-sv__version-list__item:hover span {
  background-color: #2c2c2c;
}
/* line 62, ../../Sass/blocks/_versions.scss */
.cofoundry-sv__version-list__item.active {
  background-color: #3366cc;
  color: #fff;
}

/* line 1, ../../Sass/blocks/_navmenu.scss */
.cofoundry-sv__navmenu {
  float: left;
  height: 100%;
}
/* line 5, ../../Sass/blocks/_navmenu.scss */
.cofoundry-sv__navmenu .cofoundry-sv__mini-menu {
  width: 40px;
}
/* line 9, ../../Sass/blocks/_navmenu.scss */
.cofoundry-sv__navmenu .cofoundry-sv__mini-menu__toggle {
  border-left: 0;
}

/* line 14, ../../Sass/blocks/_navmenu.scss */
.cofoundry-sv__navmenu-list {
  padding: 0;
  margin: 0;
  list-style: none;
}
/* line 19, ../../Sass/blocks/_navmenu.scss */
.cofoundry-sv__navmenu-list .cofoundry-sv__navmenu-list__divider {
  border-top: 1px solid #3c3c3c;
  padding-top: 5px;
  margin-top: 10px;
}

/* line 26, ../../Sass/blocks/_navmenu.scss */
.cofoundry-sv__navmenu-list__item {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  margin: 0;
  padding: 10px;
  display: block;
  font-size: 11px;
  cursor: pointer;
  color: #A6ACA9;
  text-decoration: none;
}
/* line 36, ../../Sass/blocks/_navmenu.scss */
.cofoundry-sv__navmenu-list__item span {
  width: 10px;
  height: 10px;
  font-size: 1em;
  margin-right: 2px;
}
/* line 43, ../../Sass/blocks/_navmenu.scss */
.cofoundry-sv__navmenu-list__item:last-of-type {
  border: 0;
}
/* line 47, ../../Sass/blocks/_navmenu.scss */
.cofoundry-sv__navmenu-list__item:hover {
  background-color: #3c3c3c;
  border-color: #1a1d22;
}
/* line 52, ../../Sass/blocks/_navmenu.scss */
.cofoundry-sv__navmenu-list__item.active {
  background-color: #3366cc;
  color: #fff;
}

/* line 1, ../../Sass/blocks/_tabs.scss */
.cofoundry-sv__tabs {
  position: relative;
  font-size: 11px;
}

/* line 6, ../../Sass/blocks/_tabs.scss */
.cofoundry-sv__tabs > ul {
  margin: 0 0 15px 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

/* line 13, ../../Sass/blocks/_tabs.scss */
.cofoundry-sv__tab-item {
  border-radius: 15px;
  padding: 7px 12px;
  display: inline-block;
  color: #4a4e56;
  text-decoration: none;
  cursor: pointer;
}
/* line 22, ../../Sass/blocks/_tabs.scss */
.cofoundry-sv__tab-item.active {
  background-color: #1a1d22;
  color: #fff;
  cursor: auto;
}
/* line 27, ../../Sass/blocks/_tabs.scss */
.cofoundry-sv__tab-item.active span {
  background-color: #fff;
}
/* line 32, ../../Sass/blocks/_tabs.scss */
.cofoundry-sv__tab-item span {
  background-color: #4a4e56;
  width: 10px;
  height: 10px;
  display: inline-block;
  margin-right: 5px;
}

/* line 41, ../../Sass/blocks/_tabs.scss */
.cofoundry-sv__tab-content {
  display: none;
}
/* line 44, ../../Sass/blocks/_tabs.scss */
.cofoundry-sv__tab-content.active {
  display: block;
}

/* line 1, ../../Sass/elements/_page-details.scss */
.cofoundry-sv__page-details {
  border-right: 1px solid #4d4d4d;
  float: left;
  position: relative;
  width: 25%;
  height: 100%;
}

/* line 9, ../../Sass/elements/_page-details.scss */
.cofoundry-sv__page-details__status {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  left: 25px;
  top: 50%;
  margin-top: -5px;
  display: inline-block;
}
/* line 19, ../../Sass/elements/_page-details.scss */
.cofoundry-sv__page-details__status.published {
  background-color: #339900;
}
/* line 23, ../../Sass/elements/_page-details.scss */
.cofoundry-sv__page-details__status.draft {
  border: 1px solid #ff6600;
  background-color: transparent;
}
/* line 28, ../../Sass/elements/_page-details.scss */
.cofoundry-sv__page-details__status.approved {
  background-color: #ff6600;
}

/* line 33, ../../Sass/elements/_page-details.scss */
.cofoundry-sv__page-details__name {
  display: block;
  color: #fff;
  font-weight: 700;
  font-size: 13px;
  padding-left: 35px;
}

/* line 41, ../../Sass/elements/_page-details.scss */
.cofoundry-sv__page-details__url {
  color: #c1c6c8;
  padding-left: 35px;
}

/* line 1, ../../Sass/elements/_mode.scss */
.cofoundry-sv__mode {
  height: 100%;
  padding: 5px;
  float: right;
}

/* line 7, ../../Sass/elements/_mode.scss */
.cofoundry-sv__mode__button {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  float: left;
  margin-right: 4px;
  background-color: #2c2c2c;
  height: 100%;
  width: 92px;
  border: 0;
  color: #A6ACA9;
  text-transform: uppercase;
  font-size: 10px;
  vertical-align: top;
  text-align: center;
  text-decoration: none;
}
/* line 22, ../../Sass/elements/_mode.scss */
.cofoundry-sv__mode__button span {
  margin: 0 auto;
  display: block;
  text-align: center;
  text-decoration: none;
  font-size: 2em;
  padding: 8px 0 2px;
}
/* line 31, ../../Sass/elements/_mode.scss */
.cofoundry-sv__mode__button:last-of-type {
  margin-right: 0;
}
/* line 35, ../../Sass/elements/_mode.scss */
.cofoundry-sv__mode__button:hover, .cofoundry-sv__mode__button.active, .cofoundry-sv__mode__button.JS-active {
  background-color: #3366cc;
  color: #fff;
  cursor: pointer;
}

/* line 45, ../../Sass/elements/_mode.scss */
.cofoundry-sv__mode__button__group .cofoundry-sv__mode__button {
  margin-right: 0;
  border-right: 1px solid #3c3c3c;
}
/* line 50, ../../Sass/elements/_mode.scss */
.cofoundry-sv__mode__button__group .cofoundry-sv__mode__button:first-of-type {
  -moz-border-radius: 4px 0 0 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px 0 0 4px;
}
/* line 54, ../../Sass/elements/_mode.scss */
.cofoundry-sv__mode__button__group .cofoundry-sv__mode__button:last-of-type {
  -moz-border-radius: 0 4px 4px 0;
  -webkit-border-radius: 0;
  border-radius: 0 4px 4px 0;
  border-right: none;
  margin-right: 4px;
}

/* line 1, ../../Sass/elements/_options.scss */
.cofoundry-sv__options {
  float: right;
  padding: 0 5px 0 0;
  margin-left: 10px;
  border-left: 1px solid #4d4d4d;
  height: 100%;
}

/* line 9, ../../Sass/elements/_options.scss */
.cofoundry-sv__options__button {
  display: inline-block;
  background-color: #2c2c2c;
  border-radius: 4px;
  border: none;
  height: 100%;
  width: 97px;
  color: #fff;
  text-transform: uppercase;
  font-size: 10px;
  cursor: pointer;
  vertical-align: top;
  text-align: center;
  text-decoration: none;
}
/* line 24, ../../Sass/elements/_options.scss */
.cofoundry-sv__options__button span {
  margin: 0 auto;
  display: block;
  text-align: center;
  text-decoration: none;
  font-size: 2em;
  padding: 8px 0 2px;
}
/* line 33, ../../Sass/elements/_options.scss */
.cofoundry-sv__options__button:first-of-type {
  margin: 0 10px;
}
/* line 37, ../../Sass/elements/_options.scss */
.cofoundry-sv__options__button:hover {
  background-color: #3366cc;
}

/* line 1, ../../Sass/elements/_settings.scss */
.cofoundry-sv__settings {
  float: right;
  height: 100%;
}
/* line 5, ../../Sass/elements/_settings.scss */
.cofoundry-sv__settings .cofoundry-sv__mini-menu {
  width: 40px;
}
/* line 9, ../../Sass/elements/_settings.scss */
.cofoundry-sv__settings .cofoundry-sv__mini-menu__content {
  left: auto;
  right: 0;
  transform: translate(0, -100%);
}
/* line 15, ../../Sass/elements/_settings.scss */
.cofoundry-sv__settings .cofoundry-sv__version-list__item span {
  float: right;
  width: auto;
  height: auto;
  background-color: transparent;
}

/* line 1, ../../Sass/elements/_edit-mode.scss */
.cofoundry-sv__edit-mode {
  font-size: 11px;
  margin: 20px 0 30px;
  display: flex;
  flex-direction: row;
  /* checkbox */
  /* color input */
}
/* line 8, ../../Sass/elements/_edit-mode.scss */
.cofoundry-sv__edit-mode input[type="checkbox"] {
  opacity: 0;
  position: relative;
  z-index: 1;
  cursor: pointer;
}
/* line 15, ../../Sass/elements/_edit-mode.scss */
.cofoundry-sv__edit-mode input[type="checkbox"] + label {
  margin-left: -22px;
  position: relative;
  z-index: 0;
  color: #888;
}
/* line 22, ../../Sass/elements/_edit-mode.scss */
.cofoundry-sv__edit-mode input[type="checkbox"] + label:before {
  content: '';
  width: 10px;
  height: 10px;
  display: inline-block;
  border: 1px solid #888;
  border-radius: 50%;
  margin-right: 5px;
  position: relative;
  top: 2px;
}
/* line 34, ../../Sass/elements/_edit-mode.scss */
.cofoundry-sv__edit-mode input[type="checkbox"]:checked + label {
  color: #fff;
  cursor: pointer;
}
/* line 39, ../../Sass/elements/_edit-mode.scss */
.cofoundry-sv__edit-mode input[type="checkbox"]:checked + label:before {
  border-color: #fff;
}
/* line 43, ../../Sass/elements/_edit-mode.scss */
.cofoundry-sv__edit-mode input[type="checkbox"]:checked + label:after {
  content: '';
  background-color: #fff;
  width: 6px;
  height: 6px;
  display: inline-block;
  border-radius: 50%;
  position: absolute;
  left: 3px;
  top: 5px;
}
/* line 56, ../../Sass/elements/_edit-mode.scss */
.cofoundry-sv__edit-mode input[type="color"] {
  background-color: transparent;
  width: 24px;
  height: 17px;
  border: 1px solid #fff;
  border-radius: 7px;
  margin-right: 5px;
  -webkit-appearance: none;
}
/* line 66, ../../Sass/elements/_edit-mode.scss */
.cofoundry-sv__edit-mode input[type="color"]:disabled {
  opacity: 0.3;
}
/* line 70, ../../Sass/elements/_edit-mode.scss */
.cofoundry-sv__edit-mode ::-webkit-color-swatch-wrapper {
  padding: 1px;
  border: 0;
  background-color: transparent;
}
/* line 75, ../../Sass/elements/_edit-mode.scss */
.cofoundry-sv__edit-mode ::-webkit-color-swatch {
  border: 0;
  border-radius: 5px;
}
/* line 80, ../../Sass/elements/_edit-mode.scss */
.cofoundry-sv__edit-mode input[type="color"] + label {
  color: #fff;
}
/* line 84, ../../Sass/elements/_edit-mode.scss */
.cofoundry-sv__edit-mode input[type="color"]:disabled + label {
  color: #888;
}

/* line 89, ../../Sass/elements/_edit-mode.scss */
.cofoundry-sv__edit-mode__half {
  width: 50%;
}

/* line 1, ../../Sass/elements/_info-list.scss */
.cofoundry-sv__info-list {
  padding: 0;
  margin: 0;
}

/* line 6, ../../Sass/elements/_info-list.scss */
.cofoundry-sv__info-list__item {
  display: block;
  text-align: left;
  font-weight: 700;
  padding: 10px 0;
  border-bottom: 1px solid #4a4e56;
  cursor: pointer;
  color: #fff;
}
/* line 15, ../../Sass/elements/_info-list.scss */
.cofoundry-sv__info-list__item:last-of-type {
  border: 0;
}
/* line 19, ../../Sass/elements/_info-list.scss */
.cofoundry-sv__info-list__item span {
  float: right;
  font-weight: 400;
}

/* line 20, ../../Sass/_outer-site-viewer.scss */
html, body {
  height: 100%;
  overflow: hidden;
}

/* line 25, ../../Sass/_outer-site-viewer.scss */
body {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

/* line 33, ../../Sass/_outer-site-viewer.scss */
#statusBar {
  background: #eaeaea;
}

/* line 37, ../../Sass/_outer-site-viewer.scss */
#wrapper {
  height: 100%;
  min-width: 240px;
  position: relative;
  width: auto;
}

/* line 44, ../../Sass/_outer-site-viewer.scss */
#wrapper.device {
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: scroll;
}

/* line 50, ../../Sass/_outer-site-viewer.scss */
#siteFrameContainer {
  height: 100%;
  width: 100%;
  padding-bottom: 70px;
}
/* line 55, ../../Sass/_outer-site-viewer.scss */
#siteFrameContainer .cofoundry-sv__module-highlight {
  outline: 1px dotted red;
  position: absolute;
  z-index: 1;
  pointer-events: none;
  background: rgba(0, 0, 0, 0.2);
}
/* line 63, ../../Sass/_outer-site-viewer.scss */
#siteFrameContainer .cofoundry-sv__module-controls {
  position: absolute;
  background: red;
  z-index: 2;
  height: 30px;
}

/* line 71, ../../Sass/_outer-site-viewer.scss */
#wrapper.full-height #siteFrameContainer {
  padding-bottom: 0px;
}

/* line 75, ../../Sass/_outer-site-viewer.scss */
#wrapper.device #siteFrameContainer {
  margin: 2% auto 2% auto;
  height: 10%;
  width: 10%;
  -webkit-transform: scale(0.75);
  -webkit-transform-origin: 50% 0;
  -moz-transform: scale(0.75);
  -moz-transform-origin: 50% 0;
  -ms-transform: scale(0.75);
  -ms-transform-origin: 50% 0;
  -o-transform: scale(0.75);
  -o-transform-origin: 50% 0;
  transform: scale(0.75);
  transform-origin: 50% 0;
  -webkit-transition: all 240ms ease;
  -moz-transition: all 240ms ease;
  -ms-transition: all 240ms ease;
  -o-transition: all 240ms ease;
  transition: all 240ms ease;
}

/* line 96, ../../Sass/_outer-site-viewer.scss */
#wrapper.iPhonePortrait #siteFrameContainer {
  width: 320px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #eaeaea;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}

/* line 106, ../../Sass/_outer-site-viewer.scss */
#wrapper.iPadPortrait #siteFrameContainer {
  width: 768px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #eaeaea;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}

/* line 116, ../../Sass/_outer-site-viewer.scss */
#wrapper.iPadLandscape #siteFrameContainer {
  width: 1024px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #eaeaea;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}

/* line 126, ../../Sass/_outer-site-viewer.scss */
#wrapper.desktop #siteFrameContainer {
  width: 1024px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #eaeaea;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}

/* #### Site frame #### */
/* line 139, ../../Sass/_outer-site-viewer.scss */
iframe#siteFrame {
  background: transparent;
  border: 0;
  height: 100%;
  width: 100%;
}

/* line 146, ../../Sass/_outer-site-viewer.scss */
#wrapper.device iframe#siteFrame::-webkit-scrollbar {
  display: none;
}

/* line 150, ../../Sass/_outer-site-viewer.scss */
#wrapper.device iframe#siteFrame html {
  overflow-x: hidden;
}

/* line 154, ../../Sass/_outer-site-viewer.scss */
#wrapper.device iframe#siteFrame html::-webkit-scrollbar {
  display: none;
}

/* #### Device menu #### */
/* line 161, ../../Sass/_outer-site-viewer.scss */
ul#deviceMenu {
  bottom: 0;
  left: 0;
  margin: 0;
  overflow: auto;
  padding: 0;
  position: fixed;
}

/* line 170, ../../Sass/_outer-site-viewer.scss */
ul#deviceMenu li {
  border-right: 1px solid #970D31;
  display: block;
  float: left;
  list-style: none;
}

/* line 177, ../../Sass/_outer-site-viewer.scss */
ul#deviceMenu li a {
  background: #3366cc url(img/icons.png) no-repeat;
  display: block;
  height: 30px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  width: 30px;
}

/* line 187, ../../Sass/_outer-site-viewer.scss */
ul#deviceMenu li.active, ul#deviceMenu li:hover {
  background-color: #8e8d8d;
  -webkit-box-shadow: inset 0 0 3px 1px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: inset 0 0 3px 1px rgba(0, 0, 0, 0.7);
  box-shadow: inset 0 0 3px 1px rgba(0, 0, 0, 0.7);
  background: #8e8d8d;
  background: -moz-linear-gradient(top, #8e8d8d 0%, #4d4c4c 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #8e8d8d), color-stop(100%, #4d4c4c));
  background: -webkit-linear-gradient(top, #8e8d8d 0%, #4d4c4c 100%);
  background: -o-linear-gradient(top, #8e8d8d 0%, #4d4c4c 100%);
  background: -ms-linear-gradient(top, #8e8d8d 0%, #4d4c4c 100%);
  background: linear-gradient(to bottom, #8e8d8d 0%, #4d4c4c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8e8d8d', endColorstr='#4d4c4c',GradientType=0 );
}

/* line 202, ../../Sass/_outer-site-viewer.scss */
ul#deviceMenu li.active a, ul#deviceMenu li a:hover {
  background-color: transparent;
}

/* line 206, ../../Sass/_outer-site-viewer.scss */
ul#deviceMenu li.auto a {
  background-position: -5px -725px;
}

/* line 210, ../../Sass/_outer-site-viewer.scss */
ul#deviceMenu li.iPhonePortrait a {
  background-position: -5px -565px;
}

/* line 214, ../../Sass/_outer-site-viewer.scss */
ul#deviceMenu li.iPhoneLandscape a {
  background-position: -5px -605px;
}

/* line 218, ../../Sass/_outer-site-viewer.scss */
ul#deviceMenu li.iPadPortrait a {
  background-position: -5px -645px;
}

/* line 222, ../../Sass/_outer-site-viewer.scss */
ul#deviceMenu li.iPadLandscape a {
  background-position: -5px -685px;
}

/* #### Hovering #### */
/* line 228, ../../Sass/_outer-site-viewer.scss */
.cofoundry-sv__section-popover-container, .cofoundry-sv__module-popover-container {
  font-family: "Open Sans", sans-serif;
  font-size: 85%;
  position: absolute;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}

/* #### Section hovering #### */
/* line 242, ../../Sass/_outer-site-viewer.scss */
.cofoundry-sv__section-popover-inner {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background: #fff;
  border: 1px solid #3c3c3c;
  border-left: 3px solid #3366cc;
  color: #3c3c3c;
  height: 30px;
  line-height: 30px;
  overflow: hidden;
  padding: 0 10px;
  position: relative;
  text-transform: uppercase;
  white-space: nowrap;
}

/* line 257, ../../Sass/_outer-site-viewer.scss */
.cofoundry-sv__section-popover-inner h2 {
  font-weight: bold;
  float: left;
  font-size: 90%;
  font-style: normal;
  height: 30px;
  line-height: 27px;
  margin: 0;
}

/* line 267, ../../Sass/_outer-site-viewer.scss */
.cofoundry-sv__section-popover-inner a {
  float: right;
  color: #3c3c3c;
  overflow: hidden;
  white-space: nowrap;
  width: 19px;
  margin-left: 10px;
  position: relative;
  text-align: center;
}
/* line 277, ../../Sass/_outer-site-viewer.scss */
.cofoundry-sv__section-popover-inner a:hover {
  color: #3366cc;
}

/* #### Module hovering #### */
/* line 285, ../../Sass/_outer-site-viewer.scss */
.cofoundry-sv__module-popover-container {
  position: fixed;
}

/* line 289, ../../Sass/_outer-site-viewer.scss */
.cofoundry-sv__module-popover-container ul {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #3c3c3c;
  border-top: 3px solid #3366cc;
  background: #fff;
  display: block;
  margin: 0px;
  padding: 0px;
}

/* line 299, ../../Sass/_outer-site-viewer.scss */
.cofoundry-sv__module-popover-container li:not(:last-of-type) {
  border: 1px solid #ebebeb;
  border-width: 0 0 1px 0;
  display: block;
}

/* line 305, ../../Sass/_outer-site-viewer.scss */
.cofoundry-sv__module-popover-container li a {
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-position: center center;
  display: block;
  height: 32px;
  color: #3c3c3c;
  width: 34px;
  padding-top: 7px;
  text-align: center;
  font-size: 1.1em;
}
/* line 316, ../../Sass/_outer-site-viewer.scss */
.cofoundry-sv__module-popover-container li a:hover {
  color: #3366cc;
}

/* line 321, ../../Sass/_outer-site-viewer.scss */
.cofoundry-sv__module-popover-container .disabled a {
  cursor: default;
  opacity: 0.4;
  -khtml-opacity: 0.4;
  -moz-opacity: 0.4;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
  filter: alpha(opacity=40);
}

/* #### Footer #### */
/* line 331, ../../Sass/_outer-site-viewer.scss */
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

/*# sourceMappingURL=site-viewer.css.map */
