@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4 mb-4">Homepage</h1>
    <p>
        Welcome to the registration &amp; verification sample.
    </p>
    <p>
        <a asp-controller="Members" asp-action="Index">Members area</a>
    </p>
</div>
