<cms-modal-dialog-container cms-modal-size="large">

    <cms-modal-dialog-header>
        Upload a document
    </cms-modal-dialog-header>

    <cms-form cms-name="mainForm" ng-submit="onUpload()">
        <cms-page-actions>

            <cms-button cms-text="Upload" ng-click="onUpload()" class="main-cta" ng-disabled="mainForm.$invalid || saveLoadState.isLoading"></cms-button>
            <cms-button cms-text="Cancel" ng-click="onCancel()"></cms-button>

        </cms-page-actions>

        <cms-page-body>

            <cms-warning-message ng-if="hasFilterRestrictions()">The document field you are assigning to has restrictions. If you are unsure, cancel this dialog and check the filters menu.</cms-warning-message>

            <cms-form-section cms-title="Document details">

                <cms-form-field-document-upload cms-title="File"
                                                cms-model="command.file"
                                                cms-change="onFileChanged()"
                                                cms-load-state="saveLoadState"
                                                ng-required="true"></cms-form-field-document-upload>

                <cms-form-field-text cms-title="Title"
                                     cms-model="command.title"
                                     cms-description="A short descriptive title e.g. 'Today's Menu' or 'Directions to our office'."
                                     max-length="130"
                                     required></cms-form-field-text>

                <cms-form-field-text-area cms-title="Description"
                                          cms-model="command.description"></cms-form-field-text-area>

                <cms-form-field-tags cms-title="CMS Tags"
                                     cms-model="command.tags"></cms-form-field-tags>

            </cms-form-section>

        </cms-page-body>
    </cms-form>

</cms-modal-dialog-container>