<div class="cofoundry-sv__section-popover-container"
     ng-style="css"
     ng-if="isOver"
     ng-mouseenter="setIsOver(true)"
     ng-mouseleave="setIsOver(false)">
    <div class="cofoundry-sv__section-popover-inner">
        <a href=""
           class="popup"
           title="Add a new module"
           ng-if="isMultiModule"
           ng-click="addModule()">
            <i class="fa fa-plus-circle"></i>
        </a>
        <h2>{{sectionName}}</h2>
    </div>

    <cms-page-section-module anchor-element="moduleAnchorElement"
                             refresh-content="refreshContent"
                             is-container-over="isModuleOver"
                             scrolled="scrolled"></cms-page-section-module>
</div>