<div class="cofoundry-sv__region-popover-container"
     ng-style="css"
     ng-if="isOver"
     ng-mouseenter="setIsOver(true)"
     ng-mouseleave="setIsOver(false)">
    <div class="cofoundry-sv__region-popover-inner">
        <a href=""
           class="popup"
           title="Add a new content block"
           ng-if="isMultiBlock"
           ng-click="addBlock()">
            <i class="fa fa-plus-circle"></i>
        </a>
        <h2>{{regionName}}</h2>
    </div>

    <cms-page-region-block anchor-element="blockAnchorElement"
                           refresh-content="refreshContent"
                           is-container-over="isBlockOver"
                           scrolled="scrolled"></cms-page-region-block>
</div>