<cms-modal-dialog-container cms-modal-size="large">

    <cms-modal-dialog-header>
        Duplicate Page: {{::page.latestVersion.title}}
    </cms-modal-dialog-header>

    <cms-form cms-name="duplicatePageForm" 
              cms-loading="formLoadState.isLoading">

        <cms-page-actions>
            <cms-button-submit cms-text="Create duplicate"
                               ng-click="save()"
                               ng-disabled="duplicatePageForm.$invalid || submitLoadState.isLoading"
                               cms-loading="submitLoadState.isLoading"></cms-button-submit>

            <cms-button cms-text="Cancel"
                        ng-click="close()"></cms-button>
        </cms-page-actions>

        <cms-page-body>

            <cms-form-status></cms-form-status>

            <cms-form-section cms-title="Settings">

                <cms-form-field-text cms-title="Title"
                                     cms-model="command.title"
                                     cms-description="A few words descriptive page title, e.g. 'About the team'."
                                     cms-change="onTitleChanged()"
                                     maxlength="70"
                                     required></cms-form-field-text>

                <cms-form-field-locale-selector cms-model="command.localeId"
                                                cms-on-loaded="localesLoaded()"></cms-form-field-locale-selector>

                <cms-form-field-directory-selector cms-model="command.pageDirectoryId"
                                                   cms-on-loaded="pageDirectoriesLoaded()"></cms-form-field-directory-selector>

                <cms-form-field-text cms-title="Url path"
                                     cms-model="command.urlPath"
                                     cms-description="Lower case and containing only letter, numbers and hyphens. E.g. 'about-the-team'."
                                     maxlength="70"
                                     ng-if="::!isCustomEntityRoute"
                                     required></cms-form-field-text>

                <cms-form-field-dropdown cms-title="Route Format"
                                         cms-options="routingRules"
                                         cms-option-name="routeFormat"
                                         cms-option-value="routeFormat"
                                         cms-model="command.customEntityRoutingRule"
                                         ng-if="::isCustomEntityRoute"
                                         required></cms-form-field-dropdown>

            </cms-form-section>

        </cms-page-body>

    </cms-form>

</cms-modal-dialog-container>