@model Cofoundry.Web.Identity.ChangePasswordViewModel
@inject IStaticFilePathFormatter staticFilePathFormatter
@inject IAdminRouteLibrary adminRouteLibrary

@{
    ViewBag.Title = "Change password";
    Layout = adminRouteLibrary.Auth.LoginLayoutPath;
}

@section FooterScripts
{
    <script src="@staticFilePathFormatter.AppendVersion(adminRouteLibrary.Auth.ChangePasswordScriptPath)"></script>
}

<h1>Change Password</h1>

<div class="wrap">
    <form  class="form-horizontal" method="post">
        <input name="ReturnUrl" type="hidden" value="@Request["ReturnUrl"]" />

        <fieldset>
            <p class="message warning perm">
                You must change your password before accessing the admin area.
            </p>

            <div class="control-group">
                <label asp-for="OldPassword" class="control-label"></label>
                <div class="controls">
                    <input type="password" asp-for="OldPassword" />
                    <span asp-validation-for="OldPassword" class="help-block"></span>
                </div>
            </div>

            <div class="control-group">
                <label asp-for="NewPassword" class="control-label"></label>
                <div class="controls">
                    <input type="password" asp-for="NewPassword" maxlength="300" />
                    <span asp-validation-for="NewPassword" class="help-block"></span>
                </div>
            </div>

            <div class="control-group">
                <label asp-for="ConfirmNewPassword" class="control-label"></label>
                <div class="controls">
                    <input type="password" asp-for="ConfirmNewPassword" maxlength="300" />
                    <span asp-validation-for="ConfirmNewPassword" class="help-block"></span>
                </div>
            </div>

            <div class="actions">
                <input type="submit" class="btn btn-primary" value="Change password" />
            </div>

        </fieldset>
    </form>
</div>

<footer class="login-footer">

</footer>