@model Cofoundry.Web.Identity.LoginViewModel
@inject IStaticFilePathFormatter staticFilePathFormatter
@inject IAdminRouteLibrary adminRouteLibrary

@{
    ViewBag.Title = "Login";
    Layout = adminRouteLibrary.Auth.LoginLayoutPath;
}

@section FooterScripts
{
<script src="@staticFilePathFormatter.AppendVersion(adminRouteLibrary.Auth.LoginScriptPath)"></script>
}

<h1>Cofoundry</h1>

<div class="wrap">
    <form method="post" class="form-horizontal">

        <input name="ReturnUrl" type="hidden" value="@Request["ReturnUrl"]" />

        <fieldset>
            <div class="control-group">
                <label asp-for="EmailAddress" class="control-label"></label>
                <div class="controls">
                    <input type="email" asp-for="EmailAddress" maxlength="150" />
                    <span asp-validation-for="EmailAddress" class="help-block"></span>
                </div>
            </div>

            <div class="control-group">
                <label asp-for="Password" class="control-label"></label>
                <div class="controls">
                    <input type="password" asp-for="Password" />
                    <span asp-validation-for="Password" class="help-block"></span>
                </div>
            </div>

            <label class="checkbox" for="RememberMe" )">
                <input asp-for="RememberMe" class="check" />
            </label>

            <div class="actions">
                <input type="submit" class="btn main-cta btn-primary" value="Login" />
            </div>
        </fieldset>
    </form>
</div>

<footer class="login-footer">
    <p class="login-footer-links">
        <a id="forgotPasswordLink" href="@adminRouteLibrary.Auth.ForgotPassword()">Forgotten your password?</a>
        <br />
        <a href="/">&lt; Back to @Cofoundry.Settings.GetApplicationName()</a>
    </p>
</footer>