@model Cofoundry.Domain.PasswordResetRequestAuthenticationResult
@inject IAdminRouteLibrary adminRouteLibrary

@{
    ViewBag.Title = "Invalid password reset request";
    Layout = adminRouteLibrary.Auth.LoginLayoutPath;
}

<h1>Invalid Request</h1>

<div class="wrap">
    <form method="post" class="form-horizontal">
        <fieldset>
            <p class="message warning perm">
                @Model.ValidationErrorMessage
            </p>
            <div class="actions">
                <p>

                    <a href="@adminRouteLibrary.Auth.ForgotPassword()">Try again</a>
                </p>
            </div>
        </fieldset>
    </form>
</div>

<footer class="login-footer"></footer>