@inject IAdminRouteLibrary adminRouteLibrary

@{
    ViewBag.Title = "Password Change Complete";
    Layout = adminRouteLibrary.Auth.LoginLayoutPath;
}

<h1>Password Change Complete</h1>

<div class="wrap">
    <form method="post" class="form-horizontal">
        <fieldset>
            <p>
                Your password has been changed
            </p>
            <div class="actions">
                <p>
                    <a href="@adminRouteLibrary.Auth.Login()">Click here to login</a>
                </p>
            </div>
        </fieldset>
    </form>
</div>

<footer class="login-footer"></footer>