@model Cofoundry.Web.Admin.Internal.CompleteAccountRecoveryViewModel
@inject IAdminRouteLibrary adminRouteLibrary
@inject IStaticResourceReferenceRenderer staticResourceReferenceRenderer
@inject IAdvancedContentRepository contentRepository

@{
    ViewBag.Title = "Reset password";
    Layout = adminRouteLibrary.Auth.LoginLayoutPath;
    var passwordPolicy = await contentRepository
        .UserAreas()
        .PasswordPolicies()
        .GetByCode(CofoundryAdminUserArea.Code)
        .AsDescription()
        .ExecuteAsync();
}

@section FooterScripts
{
    @staticResourceReferenceRenderer.ScriptTag(adminRouteLibrary.Auth, "Shared")
}
<h1>Reset Password @passwordPolicy.Description</h1>

<div class="wrap">
    <form method="post" class="form-horizontal" id="MainForm">

        <fieldset>
            <p class="message warning perm">
                Please enter a new password
            </p>

            <div asp-validation-summary="ModelOnly"></div>

            <div class="control-group">
                <label asp-for="NewPassword" class="control-label"></label>
                <div class="controls">
                    <input type="password" asp-for="NewPassword" cf-policy="@passwordPolicy" />
                    <p class="help-inline"><small>@passwordPolicy.Description</small></p>
                    <span asp-validation-for="NewPassword" class="help-block"></span>
                </div>
            </div>

            <div class="control-group">
                <label asp-for="ConfirmNewPassword" class="control-label"></label>
                <div class="controls">
                    <input type="password" asp-for="ConfirmNewPassword" maxlength="2048" />
                    <span asp-validation-for="ConfirmNewPassword" class="help-block"></span>
                </div>
            </div>

            <div class="actions">
                <input type="submit" class="btn btn-primary" value="Change password" />
            </div>

        </fieldset>
    </form>
</div>

<footer class="login-footer"></footer>