@model Cofoundry.Web.Identity.CompletePasswordResetViewModel
@inject IAdminRouteLibrary adminRouteLibrary
@inject IStaticResourceReferenceRenderer staticResourceReferenceRenderer

@{
    ViewBag.Title = "Reset password";
    Layout = adminRouteLibrary.Auth.LoginLayoutPath;
}

@section FooterScripts
{
    @staticResourceReferenceRenderer.ScriptTag(adminRouteLibrary.Auth, "Shared")
}
<h1>Reset Password</h1>

<div class="wrap">
    <form method="post" class="form-horizontal" id="MainForm">
        <input name="Token" type="hidden" value="@Model.Token" />
        <input name="UserPasswordResetRequestId" type="hidden" value="@Model.UserPasswordResetRequestId" />

        <fieldset>
            <p class="message warning perm">
                Please enter a new password
            </p>

            <div asp-validation-summary="ModelOnly"></div>

            <div class="control-group">
                <label asp-for="NewPassword" class="control-label"></label>
                <div class="controls">
                    <input type="password" asp-for="NewPassword" maxlength="300" />
                    <span asp-validation-for="NewPassword" class="help-block"></span>
                </div>
            </div>

            <div class="control-group">
                <label asp-for="ConfirmNewPassword" class="control-label"></label>
                <div class="controls">
                    <input type="password" asp-for="ConfirmNewPassword" maxlength="300" />
                    <span asp-validation-for="ConfirmNewPassword" class="help-block"></span>
                </div>
            </div>

            <div class="actions">
                <input type="submit" class="btn btn-primary" value="Change password" />
            </div>

        </fieldset>
    </form>
</div>

<footer class="login-footer"></footer>