@inherits Cofoundry.Web.CofoundryPage<Cofoundry.Domain.PasswordResetRequestAuthenticationResult>
@using System.Web.Mvc.Html
@using Cofoundry.Web.Admin
@using System.Web.Mvc

@{
    ViewBag.Title = "Invalid password reset request";
    Layout = AuthRouteLibrary.LoginLayoutPath;
}

<h1>Invalid Request</h1>

<div class="wrap">
    @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal" }))
    {
        <fieldset>
            <p class="message warning perm">
                @Model.ValidationErrorMessage
            </p>
            <div class="actions">
                <p>

                    <a href="@AuthRouteLibrary.Urls.ForgotPassword()">Try again</a>
                </p>
            </div>
        </fieldset>
    }
    </div>

    <footer class="login-footer"></footer>