@model RegisterViewModel
@{
    ViewData["Title"] = "Register Account";
}

<div class="row justify-content-center">
    <form method="post" class="col col-8">
        <h1 class="mb-4">Register Account</h1>

        <div class="mb-3">
            <label asp-for="Email" class="form-label"></label>
            <input asp-for="Email" class="form-control">
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Username" class="form-label"></label>
            <input asp-for="Username" class="form-control">
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Password" class="form-label"></label>
            <input asp-for="Password" class="form-control">
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="ConfirmPassword"></label>
            <input asp-for="ConfirmPassword" class="form-control">
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>

        <div asp-validation-summary="ModelOnly" class="mb-3 text-danger"></div>

        <button type="submit" class="btn btn-primary">Register</button>

        <p class="mt-3">
            Already registered? <a asp-controller="MembersAuth">Sign In</a>
        </p>
    </form>
</div>