@model RegisterViewModel
@{
    ViewData["Title"] = "Register Account";
}

<div class="row justify-content-center">
    <div class="col col-8">
        <h1 class="mb-4">Register Account</h1>
        <p>
            Thank you for registering. Please verify your account by following the
            link in the email we have sent you.
        </p>
        <p>
            <a asp-controller="Home" asp-action="Index">Home</a>
        </p>
        </div>
</div>