@model RegisterViewModel
@{
    ViewData["Title"] = "Verify Account";
}

<div class="row justify-content-center">
    <div class="col col-8">

        <h1 class="mb-4">Verify Account</h1>
        <p>
            Error verifying your account:
        </p>

        <div asp-validation-summary="ModelOnly" class="mb-3 text-danger"></div>

    </div>
</div>