<cms-modal-dialog-container cms-modal-size="large">

    <cms-modal-dialog-header>
        Find Page
    </cms-modal-dialog-header>

    <cms-page-actions>

        <cms-button class="main-cta" cms-text="Ok" ng-click="onOk()"></cms-button>
        <cms-button cms-text="Cancel" ng-click="onCancel()"></cms-button>

        <!--FILTER-->

        <cms-button cms-text="Filter"
                    ng-click="toggleFilter()"></cms-button>

        <cms-search-filter cms-query="query"
                           cms-filter="filter"
                           ng-show="isFilterVisible">

            <cms-form-field-text cms-title="Text"
                                 cms-model="filter.text"></cms-form-field-text>

        </cms-search-filter>

        <cms-pager cms-result="result"
                   cms-query="query"></cms-pager>

    </cms-page-actions>

    <cms-page-body>

        <cms-table-container cms-loading="gridLoadState.isLoading">
            <table>
                <thead>
                    <tr>
                        <th>Page</th>
                        <th>Status</th>
                        <th>Created</th>
                        <th cms-table-column-actions>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-if="result.items.length == 0">
                        <td colspan="100" class="empty">Sorry, no pages could be found.</td>
                    </tr>
                    <tr ng-repeat="page in result.items"
                        ng-class="(isSelected(page)) ? 'selected' : 'selectable'"
                        ng-click="onSelect(page)"
                        ng-dblclick="onSelectAndClose(page)">
                        <td>
                            <strong>
                                <a href="{{::urlLibrary.pageDetails(page.pageId) }}"
                                   target="_blank"
                                   title="{{::page.title}}">{{::page.fullPath }}</a>
                            </strong>
                        </td>
                        <td>
                            <span>{{::page.getPublishStatusLabel()}}</span>
                            <span ng-if="::page.hasDraftVersion">(Pending Draft)</span>
                        </td>
                        <td class="lowPriority">
                            <cms-table-cell-created-audit-data cms-audit-data="::page.auditData"></cms-table-cell-created-audit-data>
                        </td>
                        <td cms-table-column-actions>
                            <a href="" ng-if="!isSelected(page)" class="btn-icon" title="Select">
                                <i class="fa fa-square-o"></i>
                            </a>
                            <a href="" ng-if="isSelected(page)" class="btn-icon" title="Selected">
                                <i class="fa fa-check-square-o"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </cms-table-container>

    </cms-page-body>

</cms-modal-dialog-container>