.modal-background {
    @include transition(all .2s);
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:999;
    background-color:rgba(0,0,0,0);

    &.modal--show {
        background-color:rgba(0,0,0,0.8);
    }
}

.modal {
    @include opacity(0);
    @include border-radius(3px);
    @include transform(scale(0.85));
    @include transition(all .2s);
    font-family:$fontstack-default;
    font-size: 13px;
    position:fixed;
    top:35%;
    left:50%;
    width:400px;
    height:250px;
    background:#ebebeb;
    z-index:1000;
    margin-left:-200px;

    &.modal-lg {
        width:95%;
        height:auto;
        left:2.5%;
        right:2.5%;
        top:2.5%;
        bottom:2.5%;
        margin-left:0px;
    }

    &.modal--show {
        @include transform(scale(1,1));
        @include opacity(1);
    }

    .page-actions {
        @include border-radius(0px 0px 3px 3px);
        border-top: 1px solid #ebebeb;
        padding: 8px;
        z-index:2;
        bottom: 0;
        width: 100%;
        height: 50px;
        background: #fff;
        left: 0;
    }

    .pagination {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    .page-body {
        margin-left:20px;
        margin-top: 60px;
        position: absolute;
        left:0;
        top: 0;
        bottom: 50px;
        overflow-y: scroll;
        right: 2px;

        .form-wrap {
            padding:20px 20px 20px 0;
        }
    }

    .page-actions .btn:not(.pager) {
        margin-left: 5px;
        width: auto;
        float: right;
        min-width: 80px;
    }

    .mce-fullscreen {
        top:59px;
        left:0;
        bottom:50px;
    }
}

.modal-dialog {
    height: 100%;

    .search-filter {
        transform: translateY(-100%) translateX(-10%);
        margin-top: -50px;

        &:before, &:after {
            top:auto;
            right:auto;
            left:30px;
            bottom:-14px;
            border-bottom-color: transparent;
            border-top-color: #d2d2d2;
        }

        &:after {
            top:auto;
            left: 29px;
            bottom:-14px;
            border-bottom-color: transparent;
            border-top-color: #fff;
        }
    }
}

.modal-header {
    @include border-top-left-radius(3px);
    @include border-top-right-radius(3px);
    font-size: 150%;
    position: absolute;
    background: #fff;
    top: 0;
    left: 0;
    padding: 20px;
    width: 100%;
    border-bottom: 1px solid $color-lightgrey;
    z-index: 10;

    .close {
        position: absolute;
        right: 10px;
        top: 10px;
        font-size: 0.8em;
        color: black;
    }
}

.modal-content {
    padding-left: 20px;
}

.modal-body {
    position: absolute;
    top: 80px;
    left: 20px;
    right: 20px;
    line-height: 15px;
}

.modal-actions {
    position: absolute;
    bottom: 10px;
    right: 0;
    border-top: 1px solid #dddddd;
    width: 100%;
    padding-top: 10px;
    padding-right: 20px;
    text-align: right;

    .btn {
        display:inline-block;
    }
}