<div class="control-group">
    <cms-field>
        <label class="control-label" for="{{vm.modelName}}">{{vm.title}}:</label>
        <div class="controls">
            <input type="hidden"
                   id="{{vm.modelName}}"
                   name="{{vm.modelName}}"
                   ng-model="vm.model"
                   ng-change="vm.onChange()" />

            <cms-table-container cms-loading="vm.gridLoadState.isLoading">
                <table>
                    <thead>
                        <tr>
                            <th ng-if="vm.previewFields.fields.previewImage"></th>
                            <th>{{vm.customEntityDefinition.terms['title']}}</th>
                            <th ng-if="vm.previewFields.fields.previewDescription">{{vm.previewFields.fields.previewDescription.displayName}}</th>
                            <th ng-if="!vm.customEntityDefinition.autoPublish">Status</th>
                            <th cms-table-column-actions
                                ng-if="vm.formScope.editMode && !vm.readonly">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-if="!vm.gridData.length">
                            <td colspan="100" class="empty">None</td>
                        </tr>
                        <tr ng-repeat="entity in vm.gridData track by $index"
                            ui-draggable="vm.formScope.editMode && vm.orderable"
                            data-drag="entity"
                            data-drag-channel="custom-entity-{{vm.modelName}}"
                            ui-on-drop="vm.onDrop($index, $data)"
                            on-drop-success="vm.onDropSuccess($index)"
                            data-drop-channel="custom-entity-{{vm.modelName}}">
                            <td ng-if="vm.previewFields.fields.previewImage">
                                <cms-table-cell-image cms-image="vm.gridImages.images[$index]"></cms-table-cell-image>
                            </td>
                            <td>
                                <strong>
                                    <cms-custom-entity-link cms-custom-entity-definition="vm.customEntityDefinition"
                                                            cms-custom-entity="entity"></cms-custom-entity-link>
                                </strong>
                            </td>
                            <td ng-if="::vm.previewFields.fields.previewDescription">{{entity.model[vm.previewFields.fields.previewDescription.lowerName]}}</td>
                            <td ng-if="!vm.customEntityDefinition.autoPublish">
                                <span>{{entity.getPublishStatusLabel()}}</span>
                                <br />
                                <span ng-if="entity.hasDraftVersion">(Pending Draft)</span>
                            </td>
                            <td cms-table-column-actions ng-if="vm.formScope.editMode && !vm.readonly">
                                <cms-button-icon cms-title="Remove"
                                                 cms-icon="trash-o"
                                                 ng-click="vm.remove(entity, $index)">
                                </cms-button-icon>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <cms-table-actions>
                    <a href="" class="btn-icon" title="Add"
                       cms-icon="plus-circle"
                       ng-click="vm.showPicker()"
                       ng-if="vm.formScope.editMode && !vm.readonly"
                       ng-disabled="vm.gridLoadState.isLoading || vm.disabled">
                        <i class="fa fa-plus-circle"></i>
                    </a>
                </cms-table-actions>
            </cms-table-container>
            <cms-form-field-validation-summary></cms-form-field-validation-summary>
        </div>
    </cms-field>
    <p class="help-inline" ng-if="vm.description">
        <small>{{vm.description}}</small>
    </p>
</div>