@model IPageViewModel
@inject ICofoundryTemplateHelper<IPageViewModel> Cofoundry

@Cofoundry.Template.UseDescription("Template for the contact page")

<div class="hero-banner">
    <img src="/images/hero-banner-bg.jpg">
    <div class="hero-banner__overlay"></div>
</div>

<div class="container">
    <div class="row content-block">
        <div class="col-sm-12">
            <h1>@Model.PageTitle</h1>
            <p>
                @(await Cofoundry
                    .Template
                    .Region("Introduction")
                    .AllowBlockType<PlainTextDataModel>()
                    .EmptyContentMinHeight(200)
                    .InvokeAsync())
            </p>

            @await Component.InvokeAsync("ContactRequestForm")
        </div>
    </div>
</div>
