<div class="form-group">
    <label class="form-control-label" *ngIf="label" [attr.for]="identifier">{{label}}</label>
    <input *ngIf="editMode" class="form-control" type="text" [(ngModel)]="value" [placeholder]="placeholder" />
    <div *ngIf="!editMode">{{value}}</div>
    <div *ngIf="!editMode && !value">None</div>
    <small class="form-text text-muted" *ngIf="description">{{description}}</small>
    <cf-validation-summary
        *ngIf="invalid | async"
        [messages]="failures | async">
    </cf-validation-summary>
</div>