<div class="form-group">
    <label class="form-control-label" *ngIf="label" [attr.for]="identifier">{{label}}</label>
    <select
        class="form-control"
        [(ngModel)]="value"
        [ngClass]="{invalid: (invalid | async)}"
        [id]="identifier">
        <option value="" disabled selected *ngIf="placeholder">{{placeholder}}</option>
        <option *ngFor="let option of locales" [value]="option.webDirectoryId">{{option.fullUrlPath}}</option>
    </select>
    <small class="form-text text-muted" *ngIf="description">{{description}}</small>
    <cf-validation-summary
        *ngIf="invalid | async"
        [messages]="failures | async">
    </cf-validation-summary>
</div>