@page
@model AuthenticationSample.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4 mb-4">Homepage</h1>
    <p>
        Welcome to the authetication sample.
    </p>
    <p>
        <a asp-page="/Members/Index">Members area</a>
    </p>
</div>
