@model IPageViewModel
@inject ICofoundryTemplateHelper<IPageViewModel> Cofoundry

@Cofoundry.Template.UseDescription("A bare template for testing")

<h1 class="mt-3">@Model.PageTitle</h1>

<div class="row mt-4 mb-5">
    @(await Cofoundry.Template.Region("Body")
        .AllowMultipleBlocks()
        .EmptyContentMinHeight(500)
        .InvokeAsync())
</div>
