@model HorizontalLineDataModel
@inject ICofoundryBlockTypeHelper<HorizontalLineDataModel> Cofoundry

@{
    Cofoundry.BlockType.UseDescription("A horizontal line indicating a thematic break in content");
    Layout = null;
}
<div class="hr"@Html.Raw(Model.PercentageWidth.HasValue ? string.Format(" style=\"width: {0}%\"", Model.PercentageWidth) : "")><hr /></div>