@page
@model AuthenticationSample.Pages.Members.MyAccount.UpdatePasswordModel
@{
    ViewData["Title"] = "Update Password";
}

<div class="row justify-content-center">
    <div class="col col-8">

        <ul class="nav nav-tabs mb-3">
            <li class="nav-item">
                <a class="nav-link" aria-current="page" asp-page="Index">Details</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" asp-page="UpdatePassword">Update Password</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-page="DeleteAccount">Delete Account</a>
            </li>
        </ul>

        <h1 class="mb-4">My Account</h1>

        @if (Model.IsSuccess)
        {
            <p class="alert alert-success">Your password has been updated.</p>
        }
        <form method="post">

            <div class="mb-3">
                <label asp-for="OldPassword" class="form-label"></label>
                <input asp-for="OldPassword" class="form-control">
                <span asp-validation-for="OldPassword" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="NewPassword" class="form-label"></label>
                <input asp-for="NewPassword" class="form-control">
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="ConfirmNewPassword"></label>
                <input asp-for="ConfirmNewPassword" class="form-control">
                <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
            </div>

            <div asp-validation-summary="ModelOnly" class="mb-3 text-danger"></div>

            <button type="submit" class="btn btn-primary">Update</button>

        </form>
    </div>
</div>