@model NewUserWelcomeMailTemplate
@using Cofoundry.Domain.MailTemplates

@{
    Layout = TemplatePath.DefaultLayoutPath_Html;
}

<h2>Hi @Model.FirstName</h2>

<p>
    An account has been created for you on Cofoundry. Please use your e-mail as your login.
    Your temporary password is: @Model.TemporaryPassword 
</p>
<p>
    Login <a href="@Cofoundry.Routing.ToAbsolute(UrlLibrary.Login)">here</a>
</p>

<p>
    Thanks,<br />
    Cofoundry
</p>