@model IResetPasswordTemplate
@inject ICofoundryMailTemplatePageHelper Cofoundry

@{
    Layout = TemplatePath.DefaultLayoutPath_Html;
}

<h2>Hi @Model.FirstName</h2>

<p>
We have received a request to reset your password. To do this click the following link:
</p>

<p>
    <a href="@Cofoundry.Routing.ToAbsolute(UrlLibrary.PasswordReset(Model))">Reset Password</a>
</p>

<p>
    Thanks<br />
    Cofoundry
</p>