
<h1 class="mt-3">Password Change Complete</h1>

<div class="row mt-4 mb-5">
    <div class="col col-4">
        <p>
            Your password has been changed
        </p>
        <p>
            <a href="@UrlLibrary.PartnerLogin()">Click here to login</a>
        </p>
    </div>
</div>