@model PasswordResetRequestAuthenticationResult

<h1 class="mt-3">Invalid password reset request</h1>

<div class="row mt-4 mb-5">
    <div class="col col-4">
        <p class="message warning perm">
            @Model.Error.ToDisplayText()
        </p>
        <div class="actions">
            <p>
                <a href="@UrlLibrary.PartnerForgotPassword()">Try again</a>
            </p>
        </div>
    </div>
</div>
