<cms-modal-dialog-container cms-modal-size="large">

    <cms-modal-dialog-header>
        {{::title}}
    </cms-modal-dialog-header>

    <cms-form cms-name="mainForm" ng-submit="save()">
        <cms-page-actions>

            <cms-button cms-text="OK" ng-click="save()" class="main-cta" ng-disabled="mainForm.$invalid"></cms-button>
            <cms-button cms-text="Cancel" ng-click="onCancel()"></cms-button>

        </cms-page-actions>

        <cms-page-body>

            <cms-form-section cms-title="Settings">

                <cms-form-dynamic-field-set cms-data-source="formDataSource"
                                            cms-additional-parameters="additionalParameters">

                </cms-form-dynamic-field-set>

            </cms-form-section>

        </cms-page-body>
    </cms-form>

</cms-modal-dialog-container>