.pagination {
    position: relative;
    display: flex;
    align-items: center;

    .btn {
        display: inline-block;
        padding: 8px 12px;
        width: 33px;
        height: 33px;

        flex-grow: 0;
        flex-shrink: 0;
    }

    .info {
        text-align: center;
        flex-grow: 1;
    }

    /*.first, .previous {
    }*/

    .next, .last {

        i {
            left: auto;
            right: 4px;
        }
    }
}
