@model ErrorPageViewModel
@inject IAdminRouteLibrary adminRouteLibrary
@{
    ViewBag.Title = "Error";
    Layout = LayoutPaths.MinimalLayout;
}

<h1>Error</h1>

<h2>Sorry, there has been an error</h2>

<p>Please press back and try again. If the error persists then then please contact us.</p>



<div class="btns">
    <a href="@adminRouteLibrary.Dashboard.Dashboard()" class="btn back">Go to my dashboard</a>
</div>