@inherits Cofoundry.Web.CofoundryWebViewPage
@using System.Web.Mvc.Html
@using Cofoundry.Web.Admin

@{
    Layout = LayoutPaths.DefaultLayout;
    ViewBag.Title = "Page not found";
}

<h1>Page not found</h1>

<p>
    Sorry, that page could not be found
</p>