<cms-modal-dialog-container cms-modal-size="large">

    <cms-modal-dialog-header>
        Find an image
    </cms-modal-dialog-header>

    <cms-page-actions>

        <cms-button cms-text="{{okText}}" ng-click="onOk()" class="main-cta" ng-disabled="!multiMode && !selectedAsset"></cms-button>
        <cms-button cms-text="Cancel" ng-click="onCancel()"></cms-button>

        <!--FILTER-->

        <cms-button cms-text="Filter"
                    ng-click="toggleFilter()"></cms-button>

        <cms-search-filter cms-query="query"
                           cms-filter="filter"
                           ng-show="isFilterVisible">

            <cms-form-field-text cms-title="Tags"
                                 cms-disabled="presetFilter.tags"
                                 cms-model="filter.tags"></cms-form-field-text>

            <cms-form-field-number cms-title="Width"
                                   cms-model="filter.width"
                                   cms-disabled="presetFilter.width"
                                   ng-hide="presetFilter.minWidth"></cms-form-field-number>

            <cms-form-field-number cms-title="Height"
                                   cms-model="filter.height"
                                   cms-disabled="presetFilter.height"
                                   ng-hide="presetFilter.minHeight"></cms-form-field-number>

            <cms-form-field-number cms-title="Min Width"
                                   cms-model="filter.minWidth"
                                   cms-disabled="presetFilter.minWidth"
                                   ng-hide="presetFilter.width"></cms-form-field-number>

            <cms-form-field-number cms-title="Min Height"
                                   cms-model="filter.minHeight"
                                   cms-disabled="presetFilter.minHeight"
                                   ng-hide="presetFilter.height"></cms-form-field-number>

        </cms-search-filter>

        <cms-pager cms-result="result"
                   cms-query="query"></cms-pager>

    </cms-page-actions>

    <cms-page-body>

        <cms-table-container cms-loading="gridLoadState.isLoading">
            <table>
                <thead>
                    <tr>
                        <th>Image</th>
                        <th>Title</th>
                        <th>Size</th>
                        <th>Tags</th>
                        <th>Modified</th>
                        <th cms-table-column-actions>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-if="result.items.length == 0">
                        <td colspan="100" class="empty">Sorry, no images could be found.</td>
                    </tr>
                    <tr ng-repeat="image in result.items"
                        ng-class="(isSelected(image)) ? 'selected' : 'selectable'"
                        ng-click="onSelect(image)"
                        ng-dblclick="onSelectAndClose(image)">

                        <td>
                            <cms-table-cell-image cms-image="::image"></cms-table-cell-image>
                        </td>
                        <td>
                            {{ ::image.title }}
                        </td>
                        <td>
                            <strong>{{::image.width}} x {{::image.height}}</strong>
                            <div>{{::image.fileSizeInBytes | bytes}}</div>
                        </td>
                        <td>
                            <cms-tag-list cms-tags="::image.tags"></cms-tag-list>
                        </td>
                        <td class="lowPriority">
                            <cms-table-cell-updated-audit-data cms-audit-data="::image.auditData"></cms-table-cell-updated-audit-data>
                        </td>
                        <td cms-table-column-actions>
                            <cms-button-icon cms-title="Select"
                                             cms-icon="square-o"
                                             ng-if="!isSelected(image)">
                            </cms-button-icon>
                            <cms-button-icon cms-title="Selected"
                                             cms-icon="check-square-o"
                                             ng-if="isSelected(image)">
                            </cms-button-icon>
                        </td>
                    </tr>
                </tbody>
            </table>
            <cms-table-actions>
                <a href="" class="btn-icon" title="Upload"
                   cms-icon="plus-circle"
                   ng-click="onUpload()"
                   ng-if="canCreate">
                    <i class="fa fa-plus-circle"></i>
                </a>
            </cms-table-actions>
        </cms-table-container>

    </cms-page-body>

</cms-modal-dialog-container>