@model DocumentDisplayModel
@inject ICofoundryBlockTypeHelper<DocumentDisplayModel> Cofoundry

@{
    Cofoundry.BlockType.UseDescription("A link to download a document asset");
    Layout = null;
}

<a href="@Model.Url">
    @Model.Title
</a>