@inherits CofoundryWebViewPage<VisualEditorFrameModel>
@using Cofoundry.Web
@using Cofoundry.Domain
@using Cofoundry.Web.Admin
@using System.Web.Optimization

@{
    object ngOptions = null;

    ngOptions = new
    {
        IsInEditMode = Model.IsInEditMode,
        PageId = Model.PageId,
        VersionId = Model.VersionId,
        IsCustomEntityRoute = Model.IsCustomEntityRoute,
        EntityNameSingular = Model.EntityNameSingular,
        EntityId = Model.EntityId,
        HasDraftVersion = Model.HasDraftVersion
    };
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    @Styles.Render(SharedRouteLibrary.Css.Main)
</head>
<body class="cofoundry-visual-editor-frame">
    <div ng-controller="VisualEditorController as vm"></div>
    @AngularHelper.Bootstrap(VisualEditorRouteLibrary.Js, Cofoundry.CurrentUser,  ngOptions)
</body>
</html>
