@model VisualEditorFrameModel
@inject IAngularBootstrapper angularBootstrapper
@inject IStaticResourceReferenceRenderer staticResourceReferenceRenderer
@inject IAdminRouteLibrary adminRouteLibrary

@{
    object ngOptions = new
    {
        IsInEditMode = Model.IsInEditMode,
        PageId = Model.PageId,
        VersionId = Model.VersionId,
        IsCustomEntityRoute = Model.IsCustomEntityRoute,
        EntityNameSingular = Model.EntityNameSingular,
        EntityId = Model.EntityId,
        HasDraftVersion = Model.HasDraftVersion
    };
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    @staticResourceReferenceRenderer.CssTag(adminRouteLibrary.Shared, "shared")
</head>
<body class="cofoundry-visual-editor-frame">
    <div ng-controller="VisualEditorController as vm"></div>
    @await angularBootstrapper.BootstrapAsync(adminRouteLibrary.VisualEditor, ngOptions)
</body>
</html>
