<<<<<<< HEAD
﻿@inherits CofoundryPage<VisualEditorFrameModel>
@using Cofoundry.Web
@using System.Web.Mvc.Html
=======
﻿@inherits CofoundryWebViewPage<VisualEditorPageViewModel>
@using Cofoundry.Web
>>>>>>> 933c7fc0845629bb31aaffb54e147e5ca5b8bc07
@using Cofoundry.Domain
@using Cofoundry.Web.Admin
@using System.Web.Optimization

@{
<<<<<<< HEAD
    object ngOptions = null;

    ngOptions = new
    {
        IsInEditMode = Model.IsInEditMode,
        PageId = Model.PageId,
        VersionId = Model.VersionId,
        IsCustomEntityRoute = Model.IsCustomEntityRoute,
        EntityNameSingular = Model.EntityNameSingular,
        EntityId = Model.EntityId,
        HasDraftVersion = Model.HasDraftVersion
    };
=======
    Layout = null;
>>>>>>> 933c7fc0845629bb31aaffb54e147e5ca5b8bc07
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    @Styles.Render(SharedRouteLibrary.Css.Main)
</head>
<body class="cofoundry-visual-editor-frame">
    <div ng-controller="VisualEditorController as vm"></div>
<<<<<<< HEAD
    @AngularHelper.Bootstrap(VisualEditorRouteLibrary.Js, Cofoundry.CurrentUser,  ngOptions)
=======
    @AngularHelper.Bootstrap(VisualEditorRouteLibrary.Js, Cofoundry.CurrentUser, new { })
>>>>>>> 933c7fc0845629bb31aaffb54e147e5ca5b8bc07
</body>
</html>
