%msg {
    @include border-radius(2px);
    border-left:3px solid $color-midgrey;
    background-color:#fff;
    margin-bottom:20px;
    padding:10px;
}

.message {
    &.success {
        @extend %msg;
        border-color:$color-success;
    }
    &.warning {
        @extend %msg;
        border-color:$color-warning;
    }
}