@inherits CofoundryPageModule<SingleLineTextDisplayModel>
@using Cofoundry.Web
@using System.Web.Mvc
@using System.Web.Mvc.Html

@{
    Cofoundry.Module.UseDescription("A single line of text, without formatting");
}

@if (Model == null)
{
    @:<!-- No text data --->
}
else
{
    <span>
        @Cofoundry.Sanitizer.Sanitize(Model.Text)
    </span>
}