@model SingleLineTextDisplayModel
@using Cofoundry.Web

@{
    Cofoundry.Module.UseDescription("A single line of text, without formatting");
}

@if (Model == null)
{
    @:<!-- No text data --->
}
else
{
    <span>
        @Cofoundry.Sanitizer.Sanitize(Model.Text)
    </span>
}