@model SingleLineTextDisplayModel
@inject ICofoundryBlockTypeHelper<SingleLineTextDisplayModel> Cofoundry

@{
    Cofoundry.BlockType.UseDescription("A single line of text, without formatting");
}

@if (Model == null)
{
    @:<!-- No text data --->
}
else
{
    <span>
        @Cofoundry.Sanitizer.Sanitize(Model.Text)
    </span>
}