<div class="control-group">
    <cms-field>
        <label class="control-label" for="{{vm.modelName}}">{{vm.title}}:</label>
        <div class="controls">
            <input ng-show="vm.formScope.editMode && !vm.readonly"
                   type="password"
                   ng-model="vm.model"
                   ng-disabled="vm.disabled"
                   ng-change="vm.onChange()"
                   ng-minlength="vm.policyAttributes.minlength"
                   ng-maxlength="vm.policyAttributes.maxlength"
                   ng-pattern="vm.policyAttributes.pattern"
                   ng-prop-placeholder="vm.policyAttributes.placeholder"
                   ng-prop-passwordrules="vm.policyAttributes.passwordrules"
                   ng-prop-title="vm.policyAttributes.title"
                   id="{{vm.modelName}}"
                   name="{{vm.modelName}}" />

            <span ng-hide="vm.formScope.editMode && !vm.readonly">********</span>
            <cms-form-field-validation-summary></cms-form-field-validation-summary>
        </div>
    </cms-field>
    <p class="help-inline" ng-if="vm.description || vm.policyAttributes.title">
        <small>{{vm.description || vm.policyAttributes.title}}</small>
    </p>
</div>