<div class="control-group">
    <cms-field>
        <label class="control-label" for="{{vm.modelName}}">{{vm.title}}:</label>
        <div class="controls">
            <input id="{{vm.modelName}}"
                   name="{{vm.modelName}}"
                   cms-model-as-date
                   ng-show="vm.formScope.editMode"
                   ng-model="vm.model"
                   ng-disabled="vm.disabled"
                   ng-change="vm.onChange()"
                   type="date" />

            <span ng-hide="vm.formScope.editMode">{{vm.model | date : fullDate}}</span>
            <cms-form-field-validation-summary></cms-form-field-validation-summary>
        </div>
    </cms-field>
    <p class="help-inline" ng-if="vm.description">
        <small>{{vm.description}}</small>
    </p>
</div>