@inherits Cofoundry.Web.CofoundryPage<CustomEntityModuleOptions>
@using Cofoundry.Web.Admin

@{
    Layout = LayoutPaths.DefaultLayout;    
}

@section FooterScripts {
    @AngularHelper.Boostrap(CustomEntitiesRouteLibrary.Js, Cofoundry.CurrentUser, Model)
}

<div ng-view=""></div>


