@model CustomEntityModuleOptions
@inject AngularHelper angularHelper
@inject IAdminRouteLibrary adminRouteLibrary

@{
    Layout = LayoutPaths.DefaultLayout;    
}

@section FooterScripts {
    @angularHelper.Bootstrap(adminRouteLibrary.CustomEntities, Model)
}

<div ng-view=""></div>


