// colors
$color-primary:     #2C2233;
$color-secondary:   #5E0042;
$color-tertiary:    #005869;

$color-highlight:   #00856A;
$color-lowlight:    #8DB500;

$color-text:        #000;

// dimensions
$tablet: 768px;

$layout-max-width: 1260px;