@inherits CofoundryPageModule<SingleLineTextDisplayModel>
@using Cofoundry.Web
@using System.Web.Mvc
@using System.Web.Mvc.Html

@{
    Cofoundry.Module.UseDescription("Wraps the text in an H2 heading tag");
}
<h2>
    @if (Model == null)
    {
        @:<!-- No text data --->
    }
    else
    {
        @:@Model.Text
    }
</h2>