@inherits WebViewPage<SingleLineTextDisplayModel>
@using Cofoundry.Web
@using System.Web.Mvc
@using System.Web.Mvc.Html

<h2>
    @if (Model == null)
    {
        @:<!-- No text data --->
    }
    else
    {
        @:@Model.Text
    }
</h2>