<cf-page-header title="Create"
		parent-title="Pages"></cf-page-header>

<cf-form name="addPageForm">
	<cf-page-actions>
		<button class="btn btn-primary" type="submit">Submit</button>
	</cf-page-actions>

	<cf-page-body>

		<!-- MAIN  -->
		<cf-fieldset>
			<cf-form-field-select
				required
				name="pageType"
				label="Page type"
				placeholder="Select a dropdown value"
				[(ngModel)]="pageType">
				<option *ngFor="let option of pageTypes" [value]="option.value">{{option.name}}</option>
			</cf-form-field-select>

			<cf-form-field-textbox
				required
				label="Title"
				name="title"
				placeholder="Title"
				[(ngModel)]="title">
			</cf-form-field-textbox>

			<cf-form-field-select
				required
				name="pageTemplate"
				label="Page template"
				placeholder="Select a dropdown value"
				[(ngModel)]="pageTemplate">
				<option *ngFor="let option of pageTemplates" [value]="option.pageTemplateId">{{option.name}}</option>
			</cf-form-field-select>

		</cf-fieldset>
		<!-- END MAIN  -->

		<!--PAGE URL-->
		<cf-fieldset>
			<cf-form-field-select-locale
				name="localeId"
				label="Market"
				placeholder="Select a dropdown value"
				[(ngModel)]="localeId">
			</cf-form-field-select-locale>

			<cf-form-field-select-directory
				required
				name="webDirectoryId"
				label="Directory"
				placeholder="Select a dropdown value"
				[(ngModel)]="webDirectoryId">
			</cf-form-field-select-directory>
			
			<cf-form-field-textbox
				label="Page path"
				name="pagePath"
				placeholder="Page path"
				[(ngModel)]="urlPath">
			</cf-form-field-textbox>

			<cf-form-field-select
				required
				name="routingRules"
				label="Route format"
				placeholder="Select a dropdown value"
				[(ngModel)]="customEntityRoutingRule">
				<option *ngFor="let option of routingRules" [value]="option.routeFormat">{{option.routeFormat}}</option>
			</cf-form-field-select>
		</cf-fieldset>
		<!--END PAGE URL-->

		<!-- SEO -->

		<!-- cms-form-field-text-area -->
		<cf-fieldset>
			<cf-form-field-textbox
				label="OpenGraph title"
				name="openGraphTitle"
				placeholder="Title"
				description="Optional. The title that shows up when sharing the page on social media"
				[(ngModel)]="openGraphTitle">
			</cf-form-field-textbox>

			<cf-form-field-textbox
				label="OpenGraph description"
				name="openGraphDescription"
				placeholder="Description"
				description="Optional. The description that shows up when sharing the page on social media"
				[(ngModel)]="openGraphDescription">
			</cf-form-field-textbox>
		</cf-fieldset>
		<!-- cf-form-field-select-image -->
		<!-- cms-form-field-checkbox -->

		<!-- END SEO -->

		<!-- TEMPLATE CONTENT -->

		<!-- END TEMPLATE CONTENT -->


	</cf-page-body>
</cf-form>