@model ExclusivePartnerContentDataModel
@inject ICofoundryBlockTypeHelper<ExclusivePartnerContentDataModel> Cofoundry

@Cofoundry.BlockType.UseDescription("This is a content block that is only displayed only for users with the Exclusive Partner role")
@{ 
    var user = await Cofoundry.CurrentUser.GetAsync(PartnerUserArea.Code);
}
@if (user.Role.RoleCode == ExclusivePartnerRole.Code)
{
<div>
    @if (!string.IsNullOrWhiteSpace(Model.Title))
    {
        <h1>@Model.Title</h1>
    }

    @Cofoundry.Sanitizer.Sanitize(Model.HtmlText)
</div>
}