@inherits CofoundryPageModule<DocumentDisplayModel>
@using Cofoundry.Web
@using System.Web.Mvc

@{
    Cofoundry.Module.UseDescription("A link to download a document asset");
    Layout = null;
}

<a href="@Model.Url">
    @Model.Title
</a>