// This is where we define global variables for our color scheme. 

// Primary
$color-primary:         #4af386;
$color-primary-dark:    #003399;
$color-primary-light:   #6699ff;

$color-secondary:       #413851;
$color-secondary-dark:  #2c263d;

// Greys
$color-lightgrey:       #ebebeb;
$color-midgrey:         #4d4d4d;
$color-darkgrey:        #3c3c3c;
$color-offblack:        #2c2c2c;
$color-black:           #000;
$color-selected:        #f5f5f6;

// UI colours
$color-error:           #ff0000;
$color-warning:         #ff6600;
$color-success:         #339900;

$color-text:            #A6ACA9;
$color-text-alt:        #FFFFFF;
$color-highlight:       #50565E;