/*===============================
	Required compass includes
=================================*/
/*
    LIBRARIES
    Now we include any libraries/utilities we have written
*/
/**
 * A mixin to create retina sprites with hover & active states
 *
 * You have to register a pair of sprites using `{@link #retina-sprite-add}` and then you can use this mixin:
 *
 *     @include retina-sprite-add(icons, "icons/*.png", "icons-retina/*.png");
 *
 *     .my-icon {
 *       @include retina-sprite(icon-name, icons);
 *     }
 *
 * @param {String} $name
 * @param {String} [$sprites-name]
 * @param {Boolean} [$hover=false]
 * @param {Boolean} [$active=false]
 */
/**
 * @param {String} $name
 * @param {String} $path
 * @param {String} $path2x
 */
/* line 1, ../../../Shared/Sass/Common/_heading.scss */
.heading-primary, .heading-secondary, .heading-tertiary {
  text-transform: uppercase;
  font-weight: bold;
}

/* line 6, ../../../Shared/Sass/Common/_heading.scss */
.heading-primary {
  font-size: 36px;
  font-size: 3rem;
}

/* line 11, ../../../Shared/Sass/Common/_heading.scss */
.heading-secondary {
  font-size: 24px;
  font-size: 2rem;
}

/* line 16, ../../../Shared/Sass/Common/_heading.scss */
.heading-tertiary {
  font-size: 18px;
  font-size: 1.5rem;
}

/* line 1, ../../../Shared/Sass/Common/_link.scss */
.inline-link {
  color: red;
}

/* No files to import found in ../Js/UIComponents/**\/* */
/* See https://gist.github.com/taupecat/4090271 */
/* Cross browser Opacity */
/* Non-inheriting cross browser opacity with white bg color */
/* #### Use a minimum height for sections so that they can be hovered over when there are no modules in them #### */
/* line 2, ../../Sass/blocks/_page-ui.scss */
.cofoundry-sv__section, .cofoundry-sv__module-empty {
  min-height: 30px;
}

/* for Internet Explorer */
/*\*/
/* line 7, ../../Sass/blocks/_page-ui.scss */
* html .cofoundry-sv__section {
  height: 30px;
  opacity: 1;
}

/* line 12, ../../Sass/blocks/_page-ui.scss */
.cofoundry-editmode__custom-entity .cofoundry__sv-section[data-cms-page-section] {
  cursor: not-allowed;
  opacity: .5;
}

/* line 17, ../../Sass/blocks/_page-ui.scss */
.cofoundry-editmode__page .cofoundry__sv-section[data-cms-custom-entity-section] {
  cursor: not-allowed;
  opacity: .5;
}

/* Editable Section/Module Hover */
/* line 23, ../../Sass/blocks/_page-ui.scss */
.cofoundry-sv__hover-module {
  box-shadow: 0px 0px 2px #4af386 !important;
}

/* line 30, ../../Sass/blocks/_page-ui.scss */
.cofoundry-sv__hover-section {
  box-shadow: 0px 0px 1px #003399 !important;
}

/* Used when the html for a section is being replaced */
/* line 36, ../../Sass/blocks/_page-ui.scss */
.cofoundry-sv__section-loading {
  opacity: 0.5;
}

/* #### Hovering #### */
/* line 41, ../../Sass/blocks/_page-ui.scss */
#cofoundry-sv__section-popover-container, #cofoundry-sv__module-popover-container {
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 85%;
  position: absolute;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}

/* #### Section hovering #### */
/* line 51, ../../Sass/blocks/_page-ui.scss */
#cofoundry-sv__section-popover-container {
  z-index: 99999999;
  display: none;
}
/* line 55, ../../Sass/blocks/_page-ui.scss */
#cofoundry-sv__section-popover-container button {
  -moz-transform: translateX(-100%) translateY(-50%);
  -ms-transform: translateX(-100%) translateY(-50%);
  -webkit-transform: translateX(-100%) translateY(-50%);
  transform: translateX(-100%) translateY(-50%);
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 3px solid #4af386;
  background-color: #4af386;
  color: #3c3c3c;
  overflow: hidden;
  white-space: nowrap;
  position: absolute;
  text-align: center;
  left: 0px;
  height: 20px;
  width: 20px;
  top: 1px;
}
/* line 70, ../../Sass/blocks/_page-ui.scss */
#cofoundry-sv__section-popover-container button:after {
  content: '';
  position: absolute;
  height: 2px;
  width: 8px;
  background: white;
  top: 6px;
  left: 3px;
}
/* line 80, ../../Sass/blocks/_page-ui.scss */
#cofoundry-sv__section-popover-container button:before {
  content: '';
  position: absolute;
  height: 8px;
  width: 2px;
  background: white;
  top: 3px;
  left: 6px;
}
/* line 91, ../../Sass/blocks/_page-ui.scss */
#cofoundry-sv__section-popover-container button:hover:after, #cofoundry-sv__section-popover-container button:hover:before {
  background: #413851;
}
/* line 97, ../../Sass/blocks/_page-ui.scss */
#cofoundry-sv__section-popover-container div {
  width: 520px;
  height: 2px;
  background: #4af386;
  margin-left: -5px;
  position: absolute;
  top: 0px;
  transform: translateX(-50%);
  z-index: -1;
}

/* line 109, ../../Sass/blocks/_page-ui.scss */
.cofoundry-sv__section-wrap {
  position: absolute;
  border: 1px dashed #dddcdc;
  min-height: 30px;
}
/* line 114, ../../Sass/blocks/_page-ui.scss */
.cofoundry-sv__section-wrap .cofoundry-sv__section_module-name {
  transform: translateY(-100%);
  background: #dddcdc;
  top: 0px;
}

/* line 121, ../../Sass/blocks/_page-ui.scss */
.cofoundry-sv__module-wrap {
  position: absolute;
  border: 1px dashed #413851;
  min-height: 30px;
  min-width: 100px;
}
/* line 127, ../../Sass/blocks/_page-ui.scss */
.cofoundry-sv__module-wrap .cofoundry-sv__section_module-name {
  transform: translateY(-100%);
  background: #413851;
  color: #fff;
  left: -1px;
  top: 0px;
  right: auto;
}

/* line 137, ../../Sass/blocks/_page-ui.scss */
.cofoundry-sv__section_module-name {
  position: absolute;
  font-size: 8px;
  text-transform: uppercase;
  padding: 2px 4px;
  background: #ccc;
  right: -1px;
  top: -1px;
}

/* #### Module hovering #### */
/* line 149, ../../Sass/blocks/_page-ui.scss */
#cofoundry-sv__module-popover-container {
  z-index: 9999999;
  display: none;
}
/* line 153, ../../Sass/blocks/_page-ui.scss */
#cofoundry-sv__module-popover-container .cofoundry-sv__module-popover--main-actions {
  border: 1px solid #413851;
  background: #fff;
  display: block;
  margin: 0px;
  padding: 0px;
  list-style: none;
}
/* line 161, ../../Sass/blocks/_page-ui.scss */
#cofoundry-sv__module-popover-container .cofoundry-sv__module-popover--main-actions > li {
  display: inline-block;
}
/* line 167, ../../Sass/blocks/_page-ui.scss */
#cofoundry-sv__module-popover-container li button {
  padding: 5px;
  text-transform: uppercase;
  font-size: 10px;
  border: none;
  width: 100%;
  background-color: transparent;
}
/* line 175, ../../Sass/blocks/_page-ui.scss */
#cofoundry-sv__module-popover-container li button:hover {
  background-color: #ebebeb;
}
/* line 180, ../../Sass/blocks/_page-ui.scss */
#cofoundry-sv__module-popover-container li a {
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-position: center center;
  display: block;
  height: 32px;
  color: #3c3c3c;
  width: 34px;
  padding-top: 7px;
  text-align: center;
  font-size: 1.1em;
}
/* line 191, ../../Sass/blocks/_page-ui.scss */
#cofoundry-sv__module-popover-container li a:hover {
  color: #4af386;
}
/* line 197, ../../Sass/blocks/_page-ui.scss */
#cofoundry-sv__module-popover-container li.advanced > button {
  display: block;
  width: 30px;
  text-align: center;
}
/* line 210, ../../Sass/blocks/_page-ui.scss */
#cofoundry-sv__module-popover-container .disabled a {
  cursor: default;
  opacity: 0.4;
  -khtml-opacity: 0.4;
  -moz-opacity: 0.4;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
  filter: alpha(opacity=40);
}
/* line 219, ../../Sass/blocks/_page-ui.scss */
#cofoundry-sv__module-popover-container .cofoundry-sv__module-popover--adv-actions {
  display: none;
}
/* line 222, ../../Sass/blocks/_page-ui.scss */
#cofoundry-sv__module-popover-container .cofoundry-sv__module-popover--adv-actions ul {
  background-color: #fff;
  position: absolute;
  border: 1px solid #413851;
  list-style: none;
  width: 100px;
  padding: 0;
  left: 0;
}
/* line 232, ../../Sass/blocks/_page-ui.scss */
#cofoundry-sv__module-popover-container .cofoundry-sv__module-popover--adv-actions li {
  width: 100%;
}
/* line 236, ../../Sass/blocks/_page-ui.scss */
#cofoundry-sv__module-popover-container .cofoundry-sv__module-popover--adv-actions button {
  text-align: left;
  text-decoration: none;
  padding: 5px 9px;
}
/* line 243, ../../Sass/blocks/_page-ui.scss */
#cofoundry-sv__module-popover-container .cofoundry-sv__section-name {
  background-color: #413851;
  color: #fff;
  display: block;
  padding: 5px;
  font-style: italic;
  font-size: 11px;
}
/* line 259, ../../Sass/blocks/_page-ui.scss */
#cofoundry-sv__module-popover-container .advanced:hover .cofoundry-sv__module-popover--adv-actions {
  display: block;
}

/* line 1, ../../Sass/blocks/_frame.scss */
.cofoundry-sv__iFrame {
  display: none;
  border: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 999999999;
}

/* line 1, ../../Sass/blocks/_preview-menu.scss */
.cofoundry-sv {
  font-family: Tahoma, Geneva, sans-serif !important;
  font-weight: normal !important;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 70px;
  background-color: #413851;
  transform: translateY(100%);
  z-index: 999999999;
}
/* line 13, ../../Sass/blocks/_preview-menu.scss */
.cofoundry-sv.active {
  transform: translateY(0);
}
/* line 16, ../../Sass/blocks/_preview-menu.scss */
.cofoundry-sv h3 {
  font-size: 1.2em;
}

/* line 21, ../../Sass/blocks/_preview-menu.scss */
.cofoundry-sv__toggle {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateY(-100%);
  background-color: #413851;
  border: 0;
  border-radius: 3px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  width: 80px;
  margin-left: -40px;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 700;
  color: #FFFFFF;
  cursor: pointer;
}

/* line 40, ../../Sass/blocks/_preview-menu.scss */
.cofoundry-sv__back {
  display: block;
  height: 100%;
  width: 40px;
  float: left;
  text-decoration: none;
  color: #A6ACA9;
  text-align: center;
}
/* line 49, ../../Sass/blocks/_preview-menu.scss */
.cofoundry-sv__back span {
  position: absolute;
  font-size: 0.8em;
  top: 50%;
  margin-top: -6px;
  left: 15px;
}
/* line 56, ../../Sass/blocks/_preview-menu.scss */
.cofoundry-sv__back:hover {
  background-color: #4af386;
  color: #fff;
}

/* line 1, ../../Sass/blocks/_mini-menu.scss */
.cofoundry-sv__mini-menu {
  width: 90px;
  height: 100%;
  position: relative;
  float: left;
  margin: 0;
}
/* line 9, ../../Sass/blocks/_mini-menu.scss */
.cofoundry-sv__mini-menu:hover .cofoundry-sv__mini-menu__content {
  display: block;
}
/* line 13, ../../Sass/blocks/_mini-menu.scss */
.cofoundry-sv__mini-menu:hover .cofoundry-sv__mini-menu__toggle {
  background-color: #2c263d;
  color: #fff;
}

/* line 20, ../../Sass/blocks/_mini-menu.scss */
.cofoundry-sv__mini-menu--flow {
  width: 100%;
}

/* line 24, ../../Sass/blocks/_mini-menu.scss */
.cofoundry-sv__mini-menu__content {
  -moz-transform: translate(0%, -100%);
  -ms-transform: translate(0%, -100%);
  -webkit-transform: translate(0%, -100%);
  transform: translate(0%, -100%);
  display: none;
  background-color: #2c263d;
  position: absolute;
  top: 0;
  width: 320px;
  padding: 0;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
/* line 35, ../../Sass/blocks/_mini-menu.scss */
.cofoundry-sv__mini-menu--large .cofoundry-sv__mini-menu__content {
  width: 480px;
  padding: 15px 25px 30px;
}
/* line 40, ../../Sass/blocks/_mini-menu.scss */
.cofoundry-sv__mini-menu--flow .cofoundry-sv__mini-menu__content {
  width: 100%;
}
/* line 44, ../../Sass/blocks/_mini-menu.scss */
.cofoundry-sv__mini-menu--align-left .cofoundry-sv__mini-menu__content {
  border-top-left-radius: 0px;
}
/* line 48, ../../Sass/blocks/_mini-menu.scss */
.cofoundry-sv__mini-menu--align-right .cofoundry-sv__mini-menu__content {
  -moz-transform: translate(-50%, -100%);
  -ms-transform: translate(-50%, -100%);
  -webkit-transform: translate(-50%, -100%);
  transform: translate(-50%, -100%);
  left: 50%;
  border-top-right-radius: 0px;
}
/* line 54, ../../Sass/blocks/_mini-menu.scss */
.cofoundry-sv__mini-menu__content h3 {
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 14px;
  margin: 0 0 10px;
  color: #fff;
  padding: 15px 15px 0;
}

/* line 63, ../../Sass/blocks/_mini-menu.scss */
.cofoundry-sv__mini-menu__toggle {
  border: 0;
  border-left: 1px solid #2c263d;
  width: 100%;
  height: 100%;
  background-color: transparent;
  outline: none;
  color: #fff;
  font-size: 10px;
}
/* line 73, ../../Sass/blocks/_mini-menu.scss */
.cofoundry-sv__mini-menu__toggle.active {
  background-color: #2c2c2c;
  color: #fff;
}
/* line 78, ../../Sass/blocks/_mini-menu.scss */
.cofoundry-sv__mini-menu--flow .cofoundry-sv__mini-menu__toggle {
  text-align: left;
}

/* line 90, ../../Sass/blocks/_mini-menu.scss */
.cofoundry-sv__mini-menu.active .cofoundry-sv__mini-menu__content {
  display: block;
}
/* line 94, ../../Sass/blocks/_mini-menu.scss */
.cofoundry-sv__mini-menu.active .cofoundry-sv__mini-menu__toggle {
  background-color: #333841;
  color: #fff;
}

/* line 1, ../../Sass/blocks/_versions.scss */
.cofoundry-sv__versions {
  float: left;
  height: 100%;
}
/* line 5, ../../Sass/blocks/_versions.scss */
.cofoundry-sv__versions .cofoundry-sv__mini-menu__toggle {
  border-left: 0;
}

/* line 10, ../../Sass/blocks/_versions.scss */
.cofoundry-sv__version-list {
  margin: 0;
  list-style: none;
  padding: 0 15px 30px;
}

/* line 16, ../../Sass/blocks/_versions.scss */
.cofoundry-sv__version-list__item {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  margin: 0;
  padding: 10px;
  display: block;
  font-size: 11px;
  border: 1px solid transparent;
  cursor: pointer;
  color: #A6ACA9;
  text-decoration: none;
}
/* line 28, ../../Sass/blocks/_versions.scss */
.cofoundry-sv__version-list__item span {
  background-color: #3c3c3c;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 5px;
  display: inline-block;
}
/* line 37, ../../Sass/blocks/_versions.scss */
.cofoundry-sv__version-list__item .published {
  background-color: #339900 !important;
}
/* line 41, ../../Sass/blocks/_versions.scss */
.cofoundry-sv__version-list__item .approved {
  background-color: #ff6600 !important;
}
/* line 45, ../../Sass/blocks/_versions.scss */
.cofoundry-sv__version-list__item .draft {
  border: 1px solid #ff6600;
  background-color: transparent !important;
}
/* line 50, ../../Sass/blocks/_versions.scss */
.cofoundry-sv__version-list__item:last-of-type {
  border: 0;
}
/* line 54, ../../Sass/blocks/_versions.scss */
.cofoundry-sv__version-list__item:hover {
  color: #fff;
  text-decoration: none;
}
/* line 58, ../../Sass/blocks/_versions.scss */
.cofoundry-sv__version-list__item:hover span {
  background-color: #2c2c2c;
}
/* line 63, ../../Sass/blocks/_versions.scss */
.cofoundry-sv__version-list__item.active {
  background-color: #413851;
  color: #fff;
}

/* line 1, ../../Sass/blocks/_navmenu.scss */
.cofoundry-sv__navmenu {
  float: left;
  height: 100%;
}
/* line 5, ../../Sass/blocks/_navmenu.scss */
.cofoundry-sv__navmenu .cofoundry-sv__mini-menu {
  width: 40px;
}
/* line 9, ../../Sass/blocks/_navmenu.scss */
.cofoundry-sv__navmenu .cofoundry-sv__mini-menu__toggle {
  border-left: 0;
}
/* line 12, ../../Sass/blocks/_navmenu.scss */
.cofoundry-sv__navmenu .cofoundry-sv__mini-menu__toggle span {
  width: 40px;
  position: relative;
}
/* line 17, ../../Sass/blocks/_navmenu.scss */
.cofoundry-sv__navmenu .cofoundry-sv__mini-menu__toggle img {
  width: 100%;
}

/* line 23, ../../Sass/blocks/_navmenu.scss */
.cofoundry-sv__navmenu-list {
  margin: 0;
  list-style: none;
  padding: 15px;
}
/* line 28, ../../Sass/blocks/_navmenu.scss */
.cofoundry-sv__navmenu-list .cofoundry-sv__navmenu-list__divider {
  border-top: 1px solid #413851;
  padding-top: 5px;
  margin-top: 10px;
}

/* line 35, ../../Sass/blocks/_navmenu.scss */
.cofoundry-sv__navmenu-list__item {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  margin: 0;
  padding: 10px;
  display: block;
  font-size: 11px;
  cursor: pointer;
  color: #A6ACA9;
  text-decoration: none;
}
/* line 45, ../../Sass/blocks/_navmenu.scss */
.cofoundry-sv__navmenu-list__item span {
  width: 10px;
  height: 10px;
  font-size: 1em;
  margin-right: 2px;
}
/* line 52, ../../Sass/blocks/_navmenu.scss */
.cofoundry-sv__navmenu-list__item:last-of-type {
  border: 0;
}
/* line 56, ../../Sass/blocks/_navmenu.scss */
.cofoundry-sv__navmenu-list__item:hover {
  color: #fff;
  text-decoration: none;
}
/* line 61, ../../Sass/blocks/_navmenu.scss */
.cofoundry-sv__navmenu-list__item.active {
  background-color: #413851;
  color: #fff;
}

/* line 1, ../../Sass/blocks/_tabs.scss */
.cofoundry-sv__tabs {
  position: relative;
  font-size: 11px;
}

/* line 6, ../../Sass/blocks/_tabs.scss */
.cofoundry-sv__tabs > ul {
  margin: 0 0 15px 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

/* line 13, ../../Sass/blocks/_tabs.scss */
.cofoundry-sv__tab-item {
  border-radius: 15px;
  padding: 7px 12px;
  display: inline-block;
  color: #4a4e56;
  text-decoration: none;
  cursor: pointer;
}
/* line 22, ../../Sass/blocks/_tabs.scss */
.cofoundry-sv__tab-item.active {
  background-color: #1a1d22;
  color: #fff;
  cursor: auto;
}
/* line 27, ../../Sass/blocks/_tabs.scss */
.cofoundry-sv__tab-item.active span {
  background-color: #fff;
}
/* line 32, ../../Sass/blocks/_tabs.scss */
.cofoundry-sv__tab-item span {
  background-color: #4a4e56;
  width: 10px;
  height: 10px;
  display: inline-block;
  margin-right: 5px;
}

/* line 41, ../../Sass/blocks/_tabs.scss */
.cofoundry-sv__tab-content {
  display: none;
}
/* line 44, ../../Sass/blocks/_tabs.scss */
.cofoundry-sv__tab-content.active {
  display: block;
}

/* line 1, ../../Sass/elements/_page-details.scss */
.cofoundry-sv__page-details {
  border-right: 1px solid #2c263d;
  float: left;
  position: relative;
  width: 25%;
  height: 100%;
}

/* line 9, ../../Sass/elements/_page-details.scss */
.cofoundry-sv__page-details__status {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  left: 25px;
  top: 50%;
  margin-top: -5px;
  display: inline-block;
}
/* line 19, ../../Sass/elements/_page-details.scss */
.cofoundry-sv__page-details__status.published {
  background-color: #339900;
}
/* line 23, ../../Sass/elements/_page-details.scss */
.cofoundry-sv__page-details__status.draft {
  border: 1px solid #ff6600;
  background-color: transparent;
}
/* line 28, ../../Sass/elements/_page-details.scss */
.cofoundry-sv__page-details__status.approved {
  background-color: #ff6600;
}

/* line 33, ../../Sass/elements/_page-details.scss */
.cofoundry-sv__page-details__name {
  display: block;
  color: #fff;
  font-weight: 700;
  font-size: 13px;
  padding-left: 35px;
  font-weight: normal;
}

/* line 42, ../../Sass/elements/_page-details.scss */
.cofoundry-sv__page-details__url {
  color: #c1c6c8;
  padding-left: 35px;
  font-size: 10px;
}

/* line 1, ../../Sass/elements/_mode.scss */
.cofoundry-sv__mode {
  position: absolute;
  top: 5px;
  right: 0;
}

/* line 7, ../../Sass/elements/_mode.scss */
.cofoundry-sv__mode__button {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #2c263d;
  float: left;
  margin-right: 4px;
  width: 92px;
  height: 60px;
  color: #fff;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: normal;
  vertical-align: top;
  text-align: center;
  text-decoration: none;
}
/* line 22, ../../Sass/elements/_mode.scss */
.cofoundry-sv__mode__button span {
  font-size: 10px;
  font-weight: normal;
  transform: translateY(-50%);
  display: block;
  margin-top: 28px;
}
/* line 30, ../../Sass/elements/_mode.scss */
.cofoundry-sv__mode__button svg {
  margin: 0 auto;
  max-width: 16px;
  display: block;
  text-align: center;
  text-decoration: none;
  font-size: 2em;
  padding: 8px 0 2px;
}
/* line 40, ../../Sass/elements/_mode.scss */
.cofoundry-sv__mode__button:last-of-type {
  margin-right: 0;
}
/* line 44, ../../Sass/elements/_mode.scss */
.cofoundry-sv__mode__button:hover, .cofoundry-sv__mode__button.active, .cofoundry-sv__mode__button.JS-active {
  background-color: #2c263d;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}

/* line 55, ../../Sass/elements/_mode.scss */
.cofoundry-sv__mode__button__group .cofoundry-sv__mode__button {
  margin-right: 0;
}
/* line 59, ../../Sass/elements/_mode.scss */
.cofoundry-sv__mode__button__group .cofoundry-sv__mode__button:first-of-type {
  -moz-border-radius: 4px 0 0 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px 0 0 4px;
}
/* line 63, ../../Sass/elements/_mode.scss */
.cofoundry-sv__mode__button__group .cofoundry-sv__mode__button:last-of-type {
  -moz-border-radius: 0 4px 4px 0;
  -webkit-border-radius: 0;
  border-radius: 0 4px 4px 0;
  margin-right: 4px;
}

/* line 1, ../../Sass/elements/_options.scss */
.cofoundry-sv__options {
  float: right;
  padding: 0 5px 0 0;
  margin-left: 10px;
  border-left: 1px solid #2c263d;
  height: 60px;
}

/* line 9, ../../Sass/elements/_options.scss */
.cofoundry-sv__options__button {
  border: 1px solid #2c263d;
  display: inline-block;
  border-radius: 4px;
  height: 60px;
  width: 97px;
  color: #fff;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: normal;
  cursor: pointer;
  vertical-align: top;
  text-align: center;
  text-decoration: none;
}
/* line 24, ../../Sass/elements/_options.scss */
.cofoundry-sv__options__button span {
  font-size: 10px;
  font-weight: normal;
  transform: translateY(-50%);
  display: block;
  margin-top: 28px;
}
/* line 32, ../../Sass/elements/_options.scss */
.cofoundry-sv__options__button:first-of-type {
  margin: 0 10px;
}
/* line 36, ../../Sass/elements/_options.scss */
.cofoundry-sv__options__button:hover {
  background-color: #2c263d;
  color: #fff;
  text-decoration: none;
}

/* line 1, ../../Sass/elements/_settings.scss */
.cofoundry-sv__settings {
  float: right;
  height: 100%;
}
/* line 5, ../../Sass/elements/_settings.scss */
.cofoundry-sv__settings .cofoundry-sv__mini-menu {
  width: 40px;
}
/* line 9, ../../Sass/elements/_settings.scss */
.cofoundry-sv__settings .cofoundry-sv__mini-menu__content {
  left: auto;
  right: 0;
  transform: translate(0, -100%);
}
/* line 15, ../../Sass/elements/_settings.scss */
.cofoundry-sv__settings .cofoundry-sv__version-list__item span {
  float: right;
  width: auto;
  height: auto;
  background-color: transparent;
}

/* line 1, ../../Sass/elements/_edit-mode.scss */
.cofoundry-sv__edit-mode {
  font-size: 11px;
  margin: 20px 0 30px;
  display: flex;
  flex-direction: row;
  /* checkbox */
  /* color input */
}
/* line 8, ../../Sass/elements/_edit-mode.scss */
.cofoundry-sv__edit-mode input[type="checkbox"] {
  opacity: 0;
  position: relative;
  z-index: 1;
  cursor: pointer;
}
/* line 15, ../../Sass/elements/_edit-mode.scss */
.cofoundry-sv__edit-mode input[type="checkbox"] + label {
  margin-left: -22px;
  position: relative;
  z-index: 0;
  color: #888;
}
/* line 22, ../../Sass/elements/_edit-mode.scss */
.cofoundry-sv__edit-mode input[type="checkbox"] + label:before {
  content: '';
  width: 10px;
  height: 10px;
  display: inline-block;
  border: 1px solid #888;
  border-radius: 50%;
  margin-right: 5px;
  position: relative;
  top: 2px;
}
/* line 34, ../../Sass/elements/_edit-mode.scss */
.cofoundry-sv__edit-mode input[type="checkbox"]:checked + label {
  color: #fff;
  cursor: pointer;
}
/* line 39, ../../Sass/elements/_edit-mode.scss */
.cofoundry-sv__edit-mode input[type="checkbox"]:checked + label:before {
  border-color: #fff;
}
/* line 43, ../../Sass/elements/_edit-mode.scss */
.cofoundry-sv__edit-mode input[type="checkbox"]:checked + label:after {
  content: '';
  background-color: #fff;
  width: 6px;
  height: 6px;
  display: inline-block;
  border-radius: 50%;
  position: absolute;
  left: 3px;
  top: 5px;
}
/* line 56, ../../Sass/elements/_edit-mode.scss */
.cofoundry-sv__edit-mode input[type="color"] {
  background-color: transparent;
  width: 24px;
  height: 17px;
  border: 1px solid #fff;
  border-radius: 7px;
  margin-right: 5px;
  -webkit-appearance: none;
}
/* line 66, ../../Sass/elements/_edit-mode.scss */
.cofoundry-sv__edit-mode input[type="color"]:disabled {
  opacity: 0.3;
}
/* line 70, ../../Sass/elements/_edit-mode.scss */
.cofoundry-sv__edit-mode ::-webkit-color-swatch-wrapper {
  padding: 1px;
  border: 0;
  background-color: transparent;
}
/* line 75, ../../Sass/elements/_edit-mode.scss */
.cofoundry-sv__edit-mode ::-webkit-color-swatch {
  border: 0;
  border-radius: 5px;
}
/* line 80, ../../Sass/elements/_edit-mode.scss */
.cofoundry-sv__edit-mode input[type="color"] + label {
  color: #fff;
}
/* line 84, ../../Sass/elements/_edit-mode.scss */
.cofoundry-sv__edit-mode input[type="color"]:disabled + label {
  color: #888;
}

/* line 89, ../../Sass/elements/_edit-mode.scss */
.cofoundry-sv__edit-mode__half {
  width: 50%;
}

/* line 1, ../../Sass/elements/_info-list.scss */
.cofoundry-sv__info-list {
  padding: 0;
  margin: 0;
}

/* line 6, ../../Sass/elements/_info-list.scss */
.cofoundry-sv__info-list__item {
  display: block;
  text-align: left;
  font-weight: 700;
  padding: 10px 0;
  border-bottom: 1px solid #4a4e56;
  cursor: pointer;
  color: #fff;
}
/* line 15, ../../Sass/elements/_info-list.scss */
.cofoundry-sv__info-list__item:last-of-type {
  border: 0;
}
/* line 19, ../../Sass/elements/_info-list.scss */
.cofoundry-sv__info-list__item span {
  float: right;
  font-weight: 400;
}

/*# sourceMappingURL=site-viewer.css.map */
