@model IPageViewModel
@inject ICofoundryTemplateHelper<IPageViewModel> Cofoundry

@Cofoundry.Template.UseDescription("A template for simple pages with flexible module content")

<h1>@Model.PageTitle</h1>
<div>
    @(await Cofoundry.Template.Region("Body")
        .AllowMultipleBlocks()
        .AllowBlockType<ContentSectionDataModel>()
        .EmptyContentMinHeight(500)
        .InvokeAsync())
</div>
