@model DefaultPasswordResetByAdminMailTemplate
@inject ICofoundryMailTemplateHelper Cofoundry
@{
    Layout = Model.GetLayoutFilePathForHtmlTemplate();
}

<h2>Hello,</h2>

<p>
    The @Model.ApplicationName site administrator has reset your password.
</p>
<p>
    Your username is: @Model.Username<br/>
    Your temporary password is: @Model.TemporaryPassword
</p>
<p>
    Login <a href="@Cofoundry.Routing.ToAbsolute(Model.LoginPath)">here</a>
</p>