@model DefaultPasswordResetRequestedByUserMailTemplate
@inject ICofoundryMailTemplateHelper Cofoundry
@{
    Layout = Model.GetLayoutFilePathForHtmlTemplate();
}
<h2>Hello,</h2>

<p>
    We have received a request to reset the password for your account on
    the @Model.ApplicationName site. To do this click the following link:
</p>

<p>
    <a href="@Cofoundry.Routing.ToAbsolute(Model.ResetUrl)">Reset Password</a>
</p>