@model DefaultPasswordChangedMailTemplate
@inject ICofoundryMailTemplateHelper Cofoundry
@{
    Layout = Model.GetLayoutFilePathForHtmlTemplate();
}
<h2>Hello,</h2>

<p>
    Your password for the @Model.ApplicationName site has been changed. If this was not you, please contact the
    site administrator.
</p>
<p>
    The username registered for this account is @Model.Username.
</p>
<p>
    Login <a href="@Cofoundry.Routing.ToAbsolute(Model.LoginPath)">here</a>
</p>