# Include initial images used by the sample project
!SPASite/App_Data/Files/Images/cc-images.txt
!SPASite/App_Data/Files/Images/6.jpg
!SPASite/App_Data/Files/Images/7.jpg
!SPASite/App_Data/Files/Images/8.jpg
!SPASite/App_Data/Files/Images/9.jpg
!SPASite/App_Data/Files/Images/10.jpg
!SPASite/App_Data/Files/Images/11.jpg
!SPASite/App_Data/Files/Images/12.jpg
!SPASite/App_Data/Files/Images/13.jpg
!SPASite/App_Data/Files/Images/14.jpg
!SPASite/App_Data/Files/Images/15.jpg
!SPASite/App_Data/Files/Images/16.jpg
!SPASite/App_Data/Files/Images/17.jpg
!SPASite/App_Data/Files/Images/18.jpg
!SPASite/App_Data/Files/Images/19.jpg
!SPASite/App_Data/Files/Images/20.jpg
!SPASite/App_Data/Files/Images/21.jpg