// This is where we define global variables for our color scheme. 

$color-red:             #d31245;
$color-darkred:         #ba0433;
$color-orange:          #ff6600;
$color-green:           #339900;
$color-lightgrey:       #ebebeb;
$color-midgrey:         #4d4d4d;
$color-darkgrey:        #3c3c3c;
$color-offblack:        #2c2c2c;
$color-selected:        #fbe7ec;