// This is where we configure our fonts, including defining custom fonts and font stacks. 

$fontstack-default:     Tahoma, Geneva, sans-serif;

$fontweight-light:      400;
$fontweight-regular:    500;
$fontweight-bold:       700;