// This is where we configure our fonts, including defining custom fonts and font stacks. 

$fontstack-default:     'Open Sans', sans-serif;

$fontweight-light:      300;
$fontweight-regular:    400;
$fontweight-bold:       700;