.cofoundry-sv__edit-mode {
    font-size: 11px;
    margin: 20px 0 30px;
    display: flex;
    flex-direction: row;

    /* checkbox */
    input[type="checkbox"] {
      opacity: 0;
      position: relative;
      z-index: 1;
      cursor: pointer;
    }

    input[type="checkbox"] + label {
      margin-left: -22px;
      position: relative;
      z-index: 0;
      color: #888;
    }

    input[type="checkbox"] + label:before {
      content: '';
      width: 10px;
      height: 10px;
      display: inline-block;
      border: 1px solid #888;
      border-radius: 50%;
      margin-right: 5px;
      position: relative;
      top: 2px;
    }

    input[type="checkbox"]:checked + label {
      color: #fff;
      cursor: pointer;
    }

    input[type="checkbox"]:checked + label:before {
      border-color: #fff;
    }

    input[type="checkbox"]:checked + label:after {
      content: '';
      background-color: #fff;
      width: 6px;
      height: 6px;
      display: inline-block;
      border-radius: 50%;
      position: absolute;
      left: 3px;
      top: 5px;
    }

    /* color input */
    input[type="color"] {
      background-color: transparent;
      width: 24px;
      height: 17px;
      border: 1px solid #fff;
      border-radius: 7px;
      margin-right: 5px;
      -webkit-appearance: none;
    }

    input[type="color"]:disabled {
      opacity: 0.3;
    }

    ::-webkit-color-swatch-wrapper {
        padding: 1px;
        border: 0;
        background-color: transparent;
    }
    ::-webkit-color-swatch {
        border: 0;
        border-radius: 5px;
    }

    input[type="color"] + label {
      color: #fff;
    }

    input[type="color"]:disabled + label {
      color: #888;
    }
}

.cofoundry-sv__edit-mode__half {
    width: 50%;
}