.cofoundry-sv__options {
    float: right;
    padding: 0 5px 0 0;
    margin-left: 10px;
    border-left: 1px solid $color-secondary-dark;
    height: 60px;
}

.cofoundry-sv__options__button {
    border:1px solid $color-secondary-dark;
    display:inline-block;
    border-radius: 4px;
    height: 60px;
    width: 97px;
    color: #fff;
    text-transform: uppercase;
    font-size: 10px;
    font-weight:normal;
    cursor: pointer;
    vertical-align:top;
    text-align:center;
    text-decoration: none;

    span {
        font-size: 10px;
        font-weight:normal;
        transform: translateY(-50%);
        display: block;
        margin-top: 28px;
    }

    &:first-of-type {
        margin: 0 10px;
    }

    &:hover {
        background-color: $color-secondary-dark;
        color:#fff;
        text-decoration: none;
    }
}