.cofoundry-sv__page-details {
    border-right: 1px solid $color-secondary-dark;
    float: left;
    position: relative;
    width:25%;
    height: 100%;
}

.cofoundry-sv__page-details__status {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    left: 25px;
    top: 50%;
    margin-top: -5px;
    display: inline-block;

    &.published {
        background-color: $color-success;
    }

    &.draft {
        border:1px solid $color-warning;
        background-color: transparent;
    }

    &.approved {
        background-color: $color-warning;
    }
}

.cofoundry-sv__page-details__name {
    display: block;
    color: #fff;
    font-weight: 700;
    font-size: 13px;
    padding-left:35px;
    font-weight: normal;
}

.cofoundry-sv__page-details__url {
    color: #c1c6c8;
    padding-left:35px;
    font-size:10px;
}