@model INotFoundPageViewModel

@{
    var title = "A Custom 404 Page";
    ViewBag.Title = title;
}


<div class="container">
    <div class="row content-block">
        <div class="col-sm-12">
            <h1>@title</h1>
        </div>
    </div>

    <div class="row content-block">
        <div class="col-sm-12">
            <p>
                Sorry, that page could not be found
            </p>
        </div>
    </div>
</div>
