# Include initial images used by the sample project
!SimpleSite/App_Data/Files/Images/1.jpg
!SimpleSite/App_Data/Files/Images/2.jpg
!SimpleSite/App_Data/Files/Images/3.jpg
!SimpleSite/App_Data/Files/Images/4.jpg
!SimpleSite/App_Data/Files/Images/5.jpg