@using Cofoundry.Web
@model IErrorPageViewModel
@{
    ViewBag.Title = Model.PageTitle;
}

@if (Model.StatusCode == 404)
{
    <h1>
        Page not found
    </h1>

    <p>
        The page you're looking for could not be found.
    </p>
}
else if (Model.StatusCode == 503)
{
    <h1>
        Temporarily unavailable
    </h1>
    <p>
        The site is temporarily unavailable. Please try again later.
    </p>
}
else
{
    <h1>
        @Model.PageTitle
    </h1>

    <p>
        Sorry, an error has occured.
    </p>
}