@inherits CofoundryPage<INotFoundPageViewModel>
@using Cofoundry.Web
@using System.Web.Mvc.Html

@*@{
    if (Model == null || string.IsNullOrWhiteSpace(Model.PageTitle))
    {
        ViewBag.Title = "Page not found";
    }
    else
    {
        ViewBag.Title = Model.PageTitle;
    }
}*@

<h1>
    Page not found
</h1>

<p>
    Please press back and try again
</p>