@model SingleLineTextDisplayModel
@inject ICofoundryBlockTypeHelper<SingleLineTextDisplayModel> Cofoundry

@{
    Cofoundry.BlockType.UseDescription("Wraps the text in an H2 heading tag");
}
<h2>
    @if (Model == null)
    {
        @:<!-- No text data --->
    }
    else
    {
        @:@Model.Text
    }
</h2>