@model AdminPasswordChangedMailTemplate
@{
    Layout = Model.GetLayoutFilePathForHtmlTemplate();
}
<h2>Hello,</h2>

<p>
    Your password for the @Model.ApplicationName admin panel has been changed. If this was not you, please contact the
    site administrator.
</p>
<p>
    The username for this account is @Model.Username.
</p>
<p>
    You can sign in to your account here: @Model.SignInUrl
</p>