@model AdminNewUserWithTemporaryPasswordMailTemplate
@inject ICofoundryMailTemplateHelper Cofoundry
@{
    Layout = Model.GetLayoutFilePathForHtmlTemplate();
}
<h2>Hello,</h2>

<p>
    An account has been created for you on the @Model.ApplicationName admin panel.
</p>
<p>
    Your username is: @Model.Username<br />
    Your temporary password is: @Model.TemporaryPassword
</p>
<p>
    Login <a href="@Cofoundry.Routing.ToAbsolute(Model.LoginPath)">here</a>
</p>