@model PasswordResetMailTemplate
@{
    Layout = Model.GetLayoutFilePathForHtmlTemplate();
}
<h2>Ahoy there!</h2>

<p>
    The administrator of the @Model.ApplicationName site
    has reset your password.
</p>
<p>
    Your username is: @Model.User.Username
    Your temporary password is: @Model.TemporaryPassword
</p>
<p>
    Sign in <a href="@Model.SignInUrl">here</a>
</p>
<p>
    You will be asked to change your password when you log in.
</p>