@model DefaultAccountVerificationMailTemplate
@using Cofoundry.Domain.MailTemplates.DefaultMailTemplates
@{
    Layout = Model.GetLayoutFilePathForHtmlTemplate();
}
<h2>Welcome customer!</h2>

<p>
    Please verify your account on the @Model.ApplicationName site by following this link:
</p>

<p>
    <a href="@Model.VerificationUrl">@Model.VerificationUrl</a>
</p>