@model NewUserWelcomeMailTemplate
@inject ICofoundryMailTemplateHelper Cofoundry

@{
    Layout = null;
}

<h2>Hi @Model.DisplayName</h2>

<p>
    Thanks for registering with our customer site!
</p>
<p>
    Please verify your email address <a href="@Model.EmailVerificationUrl">here</a>
</p>

<p>
    Thanks,<br />
    Client Admin
</p>