@model UserMicroSummary
@{
    ViewData["Title"] = "Members";
}

<div class="text-center">
    <h1 class="mb-4">Members</h1>
    <p>Welcome @Model.DisplayName</p>
    <p>You are now signed in and have access to the members area.</p>
</div>
