@model AngularModuleRouteLibrary
@using Cofoundry.Web.Admin
@inject IAngularBootstrapper angularBootstrapper
@{
    Layout = LayoutPaths.DefaultLayout;    
}

@section FooterScripts {
    @await angularBootstrapper.BootstrapAsync(Model)
}

<div ng-view=""></div>


