@inherits Cofoundry.Web.CofoundryPage<ModuleJsRouteLibrary>
@using Cofoundry.Web.Admin

@{
    Layout = LayoutPaths.DefaultLayout;    
}

@section FooterScripts {
    @AngularHelper.Bootstrap(Model, Cofoundry.CurrentUser)
}

<div ng-view=""></div>


