@model ExampleAdminAccountRecoveryMailTemplate
@{
    // A custom layout file can be set here 
    Layout = "~/Cofoundry/Admin/MailTemplates/Layouts/_ExampleAdminMailLayout_html.cshtml";
}

<h2>Hello @Model.FirstName,</h2>

<p>
    We have received a request to reset the password for your account on
    the example mail template site.
</p>

<p>
    <a href="@Model.RecoveryUrl">Click here to set new password</a>
</p>