@model AdminPasswordResetByAdminMailTemplate
@inject ICofoundryMailTemplateHelper Cofoundry
@{
    Layout = Model.GetLayoutFilePathForHtmlTemplate();
}
<h2>Ahoy there!</h2>

<p>
    The administrator of the @Model.ApplicationName site
    has reset your password.
</p>
<p>
    Your username is: @Model.Username
    Your temporary password is: @Model.TemporaryPassword
</p>
<p>
    Login <a href="@Cofoundry.Routing.ToAbsolute(Model.LoginPath)">here</a>
</p>
<p>
    You will be asked to change your password when you log in.
</p>