###################################################################################
# Builds and publishes Cofoundry NuGet packages. If this is a prerelease then 
# packages are published to MyGet; otherwise packages are published to NuGet and
# the Cofoundry docs are published to cofoundry.org. To publish docs between 
# releases you can manually trigger the 'publish-docs' workflow.
###################################################################################
name: publish

on:
  push:
    branches: 
      - main
      - 'feature/**'
      - 'bugfix/**'
    tags:        
      - 'v*'

permissions:
  contents: read
  checks: write
  pull-requests: write

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
      with: 
        fetch-depth: 0
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x
    - name: Publish
      env:
         NUGET_API_KEY: ${{secrets.NUGET_API_KEY}}
         MYGET_API_KEY: ${{secrets.MYGET_API_KEY}}
         DOCS_STORAGE_CONNECTION_STRING: ${{secrets.DOCS_STORAGE_CONNECTION_STRING}}
         DOCS_COMPLETION_WEBHOOK: ${{secrets.DOCS_COMPLETION_WEBHOOK}}
      run: dotnet run --project eng/Cofoundry.Build -- publish
    - name: Publish Test Results
      uses: EnricoMi/publish-unit-test-result-action@v2
      if: (!cancelled())
      with:
        files: ./**/*.trx
