name: publish

on:
  push:
    branches: 
      - main
      - 'feature/**'
      - 'bugfix/**'

permissions:
  contents: read
  checks: write
  pull-requests: write

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
      with: 
        fetch-depth: 0
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x
    - name: Publish
      env:
         NUGET_API_KEY: ${{secrets.NUGET_API_KEY}}
         MYGET_API_KEY: ${{secrets.MYGET_API_KEY}}
      run: dotnet run --project eng/Cofoundry.Build -- publish
    - name: Publish Test Results
      uses: EnricoMi/publish-unit-test-result-action@v2
      if: (!cancelled())
      with:
        files: ./**/*.trx
